<!-- SCRIPTS -->
<%= stylesheet_link_tag "validator.css" %>
<!-- /SCRIPTS -->

<!-- SET USER -->
<input type="text" value="<%= current_user.full_name %>" id="username" hidden>  
<!-- /SET USER -->


<!-- BODY -->
<div class="container">
		
	<nav>
	  <div class="nav nav-tabs" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active" id="nav-calls-tab" data-toggle="tab" href="#nav-calls" role="tab" aria-controls="nav-calls" aria-selected="true"><i class="fa fa-phone font-weight-bold"></i></a>
	    <a class="nav-item nav-link" id="nav-emails-tab" data-toggle="tab" href="#nav-emails" role="tab" aria-controls="nav-emails" aria-selected="false"><i class="fa fa-envelope font-weight-bold"></i></a>
	    <a class="nav-item nav-link" id="nav-shortkeys-tab" data-toggle="tab" href="#nav-shortkeys" role="tab" aria-controls="nav-shortkeys" aria-selected="false"><i class="fa fa-key font-weight-bold"></i></a>
	    <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false"><i class="fa fa-history font-weight-bold"></i></a>
	  </div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<!-- CALLS CARD -->
	  <div class="tab-pane fade show active" id="nav-calls" role="tabpanel" aria-labelledby="nav-calls-tab">
		<div class="card shadow-none border" id="callsCard">
			<div class="card-body">
				<form id="callsForm" class="needs-validation" novalidate>
					<div class="row">
						<div class="col-10">
							<div class="row mb-1">
								<div class="col-6">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="SO########">SO Number</span>
										</div>
										<input type="text" class="form-control text-muted" id="soNumberCalls">
									</div>
								</div>
								<div class="col-6">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="SP-####-##">SP Code</span>
										</div>
										<input type="text" class="form-control text-muted" id="spCodeCalls">
									</div>
								</div>
							</div>
							<div class="row mb-1">
								<div class="col-6">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="ex. Beverly">Caller</span>
										</div>
										<input type="text" class="form-control text-muted" id="callerNameCalls">
									</div>
								</div>
								<div class="col-6">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="ex. Joe's Appliance">Servicer</span>
										</div>
										<input type="text" class="form-control text-muted" id="servicerNameCalls">
									</div>
								</div>
							</div>
							<div class="row mb-1">
								<div class="col-6">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="Verified by tech">Model</span>
										</div>
										<input type="text" class="form-control text-muted" id="modelNumberCalls">
									</div>
								</div>
								<div class="col-6">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="Verified by tech">Serial</span>
										</div>
										<input type="text" class="form-control text-muted" id="serialNumberCalls">
									</div>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-12">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text input-group-text-ta bg-light" data-toggle="tooltip" title="ex. Control failure">Failure</span>
										</div>
										<textarea class="form-control form-control-ta text-muted" id="failureCauseCalls"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="col-2 border-left">
							<div class="row mb-1">
								<div class="input-group mb-3 mr-3 justify-content-end">
								 	<div class="input-group-prepend">
								    	<span class="input-group-text input-group-text-check bg-light" data-toggle="tooltip" title="Contract Resource Plus">RSP</span>
								 	</div>
								 	<span class="input-group-text input-group-text-checkbox bg-white border border-dark"><input type="checkbox" class="mr-2" id="rspCheckCalls"></span>
								</div>
							</div>
							<div class="row mb-1">
								<div class="input-group mb-3 mr-3 justify-content-end">
								 	<div class="input-group-prepend">
								    	<span class="input-group-text input-group-text-check bg-light" data-toggle="tooltip" title="Samsung Ice Maker">SAM</span>
								 	</div>
								 	<span class="input-group-text input-group-text-checkbox bg-white border border-dark"><input type="checkbox" class="mr-2" id="samCheckCalls"></span>
								</div>
							</div>
						</div>
					</div>
					<!-- new row --><hr>
					<div class="row">
						<div class="col-10">
							<div class="row mb-1">
								<div class="col-6">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="URL to Manual">Warranty</span>
										</div>
										<input type="text" class="form-control text-muted" id="warrantyLinkCalls">
									</div>
								</div>
								<div class="col-6">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="ex. APP5U500">Plan SKU</span>
										</div>
										<input type="text" class="form-control text-muted" id="skuFieldCalls">
									</div>
								</div>
							</div>
						</div>
						<div class="col-2 border-left">
							<div class="row mb-3">
								<div class="input-group mb-3 mr-3 justify-content-end">
								 	<div class="input-group-prepend">
								    	<span class="input-group-text input-group-text-check bg-light" data-toggle="tooltip" title="Extensions to MFG">EXT</span>
								 	</div>
								 	<span class="input-group-text input-group-text-checkbox bg-white border border-dark"><input type="checkbox" class="mr-2" id="extCheckCalls"></span>
								</div>
							</div>
						</div>
					</div>
					<!-- new row --><hr>
					<div class="row">
						<div class="col-12">
							<div class="row mb-1">
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="Original Purchase Price">OPP $</span>
										</div>
										<input type="number" class="form-control text-muted" id="oppFieldCalls">
									</div>
								</div>
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="Previous Paid Claims">PPC $</span>
										</div>
										<input type="number" class="form-control text-muted" id="ppcFieldCalls">
									</div>
								</div>
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="Limit of Liability">LOL $</span>
										</div>
										<input type="number" class="form-control form-control-lol text-muted pl-1 pr-1" id="lolFieldCalls" readonly>
										<div class="input-group-append">
											<input type="text" class="form-control form-control-lol-perc text-muted bg-light pl-1 pr-1" id="lolPercFieldCalls" readonly value="0.0%" data-toggle="tooltip" title="Percent Remaining">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- new row --><hr>
					<div class="row">
						<div class="col-12">
							<div class="row mb-1">
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="Total Part Cost">Parts $</span>
										</div>
										<input type="number" class="form-control text-muted" id="partsFieldCalls">
									</div>
								</div>
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="Total Labor Cost">Labor $</span>
										</div>
										<input type="number" class="form-control text-muted" id="laborFieldCalls">
									</div>
								</div>
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="If applicable">Tax $</span>
										</div>
										<input type="number" class="form-control text-muted" id="taxFieldCalls">
									</div>
								</div>
							</div>
							<div class="row mb-1">
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="If applicable">Mileage $</span>
										</div>
										<input type="number" class="form-control text-muted" id="mileageFieldCalls">
									</div>
								</div>
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="ex. Parking Fees">Misc $</span>
										</div>
										<input type="number" class="form-control text-muted" id="miscFieldCalls">
									</div>
								</div>
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="If applicable">Deductible $</span>
										</div>
										<input type="number" class="form-control text-muted" id="deductibleFieldCalls">
									</div>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="Total Estimate">Total $</span>
										</div>
										<input type="number" class="form-control text-muted" id="totalFieldCalls" readonly>
									</div>
								</div>
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="Remaining LOL">LOL After $</span>
										</div>
										<input type="number" class="form-control form-control-lol text-muted  pl-1 pr-1" id="totalLolFieldCalls" readonly>
										<div class="input-group-append">
											<input type="text" class="form-control form-control-lol-perc text-muted bg-light pl-1 pr-1" id="totalLolPercFieldCalls" readonly value="0.0%" data-toggle="tooltip" title="Percent Remaining">
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="If repairs denied">Attempt $</span>
										</div>
										<input type="number" class="form-control text-muted" id="attemptFieldCalls" disabled>
										<input type="number" id="ppcDIAG" hidden>
									</div>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-12">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="ex. Marcone">Part Dist</span>
										</div>
										<input type="text" class="form-control text-muted" id="distributorFieldCalls">
									</div>
								</div>
							</div>
							<div class="row mb-3 justify-content-center">
								<div class="col-4">
									<div class="input-group input-group-sm">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light" data-toggle="tooltip" title="Estimate disposition">Estimate</span>
										</div>
									    <select id="approvalSelectCalls" class="custom-select pl-1 pr-0 pt-0 pb-0 m-0 text-muted">
										    <option selected value="APPROVED">APPROVED</option>
									        <option value="PENDING">PENDING</option>
									        <option value="DENIED">DENIED</option>
									    </select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<ul id="errorMenuCalls" class="border border-dark bg-light rounded-right error-menu" style="list-style-type:none;">
							<li><i class="fa fa-check-circle-o text-muted font-weight-bold" id="skuAlertCalls" aria-hidden="true"> SKU</i></li>
							<li><i class="fa fa-check-circle-o text-muted font-weight-bold" id="rspAlertCalls" aria-hidden="true"> RSP</i></li>
							<li><i class="fa fa-check-circle-o text-muted font-weight-bold" id="lolAlertCalls" aria-hidden="true"> LOL</i></li>
							<li><i class="fa fa-check-circle-o text-muted font-weight-bold" id="300AlertCalls" aria-hidden="true"> 300</i></li>
							<li hidden><i class="fa fa-check-circle-o text-muted font-weight-bold" id="extAlertCalls" aria-hidden="true"> EXT</i></li>
							<li hidden><i class="fa fa-check-circle-o text-muted font-weight-bold" id="samAlertCalls" aria-hidden="true"> SAM</i></li>
						</ul>
					</div>
					<div class="card border border-dark bg-light rounded-left submit-menu" id="submitMenuCalls">
						<div class="row justify-content-center pt-2">
							<button type="submit" class="btn btn-primary p-1 m-auto" id="submitCalls" onclick="alertVal()">SUBMIT</button>
							<button type="submit" class="btn btn-primary p-1 m-auto" id="resetCalls">RESET</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /CALLS CARD -->
	  </div>
		<!-- EMAILS CARD -->
	  <div class="tab-pane fade" id="nav-emails" role="tabpanel" aria-labelledby="nav-emails-tab">
	<div class="card shadow-none border" id="emailsCard">
      <div class="card-body">
        <form id="emailsForm" class="needs-validation" novalidate>
          <div class="row">
            <div class="col-10">
              <div class="row mb-1">
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="SO########">SO Number</span>
                    </div>
                    <input type="text" class="form-control text-muted" id="soNumberEmails">
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="SP-####-##">SP Code</span>
                    </div>
                    <input type="text" class="form-control text-muted" id="spCodeEmails">
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="ex. Beverly">From</span>
                    </div>
                    <input type="text" class="form-control text-muted" id="callerNameEmails" value="Dashboard">
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="ex. Joe's Appliance">Servicer</span>
                    </div>
                    <input type="text" class="form-control text-muted" id="servicerNameEmails">
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="Verified by tech">Model</span>
                    </div>
                    <input type="text" class="form-control text-muted" id="modelNumberEmails">
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="Verified by tech">Serial</span>
                    </div>
                    <input type="text" class="form-control text-muted" id="serialNumberEmails">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text input-group-text-ta bg-light" data-toggle="tooltip" title="ex. Control failure">Failure</span>
                    </div>
                    <textarea class="form-control form-control-ta text-muted" id="failureCauseEmails"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 border-left">
              <div class="row mb-1">
                <div class="input-group mb-3 mr-3 justify-content-end">
                  <div class="input-group-prepend">
                      <span class="input-group-text input-group-text-check bg-light" data-toggle="tooltip" title="Contract Resource Plus">RSP</span>
                  </div>
                  <span class="input-group-text input-group-text-checkbox bg-white border border-dark"><input type="checkbox" class="mr-2" id="rspCheckEmails"></span>
                </div>
              </div>
              <div class="row mb-1">
                <div class="input-group mb-3 mr-3 justify-content-end">
                  <div class="input-group-prepend">
                      <span class="input-group-text input-group-text-check bg-light" data-toggle="tooltip" title="Samsung Ice Maker">SAM</span>
                  </div>
                  <span class="input-group-text input-group-text-checkbox bg-white border border-dark"><input type="checkbox" class="mr-2" id="samCheckEmails"></span>
                </div>
              </div>
            </div>
          </div>
          <!-- new row --><hr>
          <div class="row">
            <div class="col-10">
              <div class="row mb-1">
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="URL to Manual">Warranty</span>
                    </div>
                    <input type="text" class="form-control text-muted" id="warrantyLinkEmails">
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="ex. APP5U500">Plan SKU</span>
                    </div>
                    <input type="text" class="form-control text-muted" id="skuFieldEmails">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 border-left">
              <div class="row mb-3">
                <div class="input-group mb-3 mr-3 justify-content-end">
                  <div class="input-group-prepend">
                      <span class="input-group-text input-group-text-check bg-light" data-toggle="tooltip" title="Extensions to MFG">EXT</span>
                  </div>
                  <span class="input-group-text input-group-text-checkbox bg-white border border-dark"><input type="checkbox" class="mr-2" id="extCheckEmails"></span>
                </div>
              </div>
            </div>
          </div>
          <!-- new row --><hr>
          <div class="row">
            <div class="col-12">
              <div class="row mb-1">
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="Original Purchase Price">OPP $</span>
                    </div>
                    <input type="number" class="form-control text-muted" id="oppFieldEmails">
                  </div>
                </div>
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="Previous Paid Claims">PPC $</span>
                    </div>
                    <input type="number" class="form-control text-muted" id="ppcFieldEmails">
                  </div>
                </div>
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="Limit of Liability">LOL $</span>
                    </div>
                    <input type="number" class="form-control form-control-lol text-muted pl-1 pr-1" id="lolFieldEmails" readonly>
                    <div class="input-group-append">
                      <input type="text" class="form-control form-control-lol-perc text-muted bg-light pl-1 pr-1" id="lolPercFieldEmails" readonly value="0.0%" data-toggle="tooltip" title="Percent Remaining">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- new row --><hr>
          <div class="row">
            <div class="col-12">
              <div class="row mb-1">
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="Total Part Cost">Parts $</span>
                    </div>
                    <input type="number" class="form-control text-muted" id="partsFieldEmails">
                  </div>
                </div>
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="Total Labor Cost">Labor $</span>
                    </div>
                    <input type="number" class="form-control text-muted" id="laborFieldEmails">
                  </div>
                </div>
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="If applicable">Tax $</span>
                    </div>
                    <input type="number" class="form-control text-muted" id="taxFieldEmails">
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="If applicable">Mileage $</span>
                    </div>
                    <input type="number" class="form-control text-muted" id="mileageFieldEmails">
                  </div>
                </div>
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="ex. Parking Fees">Misc $</span>
                    </div>
                    <input type="number" class="form-control text-muted" id="miscFieldEmails">
                  </div>
                </div>
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="If applicable">Deductible $</span>
                    </div>
                    <input type="number" class="form-control text-muted" id="deductibleFieldEmails">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="Total Estimate">Total $</span>
                    </div>
                    <input type="number" class="form-control text-muted" id="totalFieldEmails" readonly>
                  </div>
                </div>
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="Remaining LOL">LOL After $</span>
                    </div>
                    <input type="number" class="form-control form-control-lol text-muted  pl-1 pr-1" id="totalLolFieldEmails" readonly>
                    <div class="input-group-append">
                      <input type="text" class="form-control form-control-lol-perc text-muted bg-light pl-1 pr-1" id="totalLolPercFieldEmails" readonly value="0.0%" data-toggle="tooltip" title="Percent Remaining">
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="If repairs denied">Attempt $</span>
                    </div>
                    <input type="number" class="form-control text-muted" id="attemptFieldEmails" disabled>
                    <input type="number" id="ppcDIAGEmails" hidden>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="ex. Marcone">Part Dist</span>
                    </div>
                    <input type="text" class="form-control text-muted" id="distributorFieldEmails">
                  </div>
                </div>
              </div>
              <div class="row mb-3 justify-content-center">
                <div class="col-4">
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-light" data-toggle="tooltip" title="Estimate disposition">Estimate</span>
                    </div>
                      <select id="approvalSelectEmails" class="custom-select pl-1 pr-0 pt-0 pb-0 m-0 text-muted">
                        <option selected value="APPROVED">APPROVED</option>
                          <option value="PENDING">PENDING</option>
                          <option value="DENIED">DENIED</option>
                      </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <ul id="errorMenuEmails" class="border border-dark bg-light rounded-right error-menu" style="list-style-type:none;">
              <li><i class="fa fa-check-circle-o text-muted font-weight-bold" id="skuAlertEmails" aria-hidden="true"> SKU</i></li>
              <li><i class="fa fa-check-circle-o text-muted font-weight-bold" id="rspAlertEmails" aria-hidden="true"> RSP</i></li>
              <li><i class="fa fa-check-circle-o text-muted font-weight-bold" id="lolAlertEmails" aria-hidden="true"> LOL</i></li>
              <li><i class="fa fa-check-circle-o text-muted font-weight-bold" id="300AlertEmails" aria-hidden="true"> 300</i></li>
              <li hidden><i class="fa fa-check-circle-o text-muted font-weight-bold" id="extAlertEmails" aria-hidden="true"> EXT</i></li>
              <li hidden><i class="fa fa-check-circle-o text-muted font-weight-bold" id="samAlertEmails" aria-hidden="true"> SAM</i></li>
            </ul>
          </div>
          <div class="card border border-dark bg-light rounded-left submit-menu" id="submitMenuEmails">
            <div class="row justify-content-center pt-2">
              <button type="submit" class="btn btn-primary p-1 m-auto" id="submitEmails" onclick="alertVal2()">SUBMIT</button>
              <button type="submit" class="btn btn-primary p-1 m-auto" id="resetEmails">RESET</button>
            </div>
          </div>
        </form>
      </div>
    </div>
	  </div>
	  <!-- /EMAILS CARD -->
	  <!-- SHORTKEYS CARD -->
	  <div class="tab-pane fade" id="nav-shortkeys" role="tabpanel" aria-labelledby="nav-shortkeys-tab">
	  	<div class="card shadow-none border" style="height: 610px;">
	  		<center><h3 class="font-weight-bold justify-content-center">SHORTKEYS</h3></center>
	  		<div class="row pl-1">
				<div class="col-3">
			    	<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			    		<a class="nav-link active" id="v-pills-cshofr-tab" data-toggle="pill" href="#v-pills-cshofr" role="tab" aria-controls="v-pills-cshofr" aria-selected="true">CSHOFR</a>
			    		<a class="nav-link" id="v-pills-rplofr-tab" data-toggle="pill" href="#v-pills-rplofr" role="tab" aria-controls="v-pills-rplofr" aria-selected="false">RPLOFR</a>
			    		<a class="nav-link" id="v-pills-crdofr-tab" data-toggle="pill" href="#v-pills-crdofr" role="tab" aria-controls="v-pills-crdofr" aria-selected="false">CRDOFR</a>
			    		<a class="nav-link" id="v-pills-jfrr-tab" data-toggle="pill" href="#v-pills-jfrr" role="tab" aria-controls="v-pills-jfrr" aria-selected="false">JFRR</a>
			    		<a class="nav-link" id="v-pills-edgprt-tab" data-toggle="pill" href="#v-pills-edgprt" role="tab" aria-controls="v-pills-edgprt" aria-selected="false">EDGPRT</a>
			    	</div>
			    	<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			    		<button class="nav-link border-light" id="shortkeyReset">RESET</button>
			    	</div>
				</div>
				<div class="col-9">
					<form id="shortkeyForm">
				    	<div class="tab-content" id="v-pills-tabContent">
				    		<div class="tab-pane fade show active" id="v-pills-cshofr" role="tabpanel" aria-labelledby="v-pills-cshofr-tab">
				    			<textarea class="form-control m-2" style="min-height: 500px !important; max-height: 100% !important; width: 98% !important">
Customer has been informed and accepted cash out amount of: $     
Is the customer’s ADDRESS on the service order the MAILING ADDRESS? Yes ( ) No ( )   
Is the customer’s MAILING ADDRESS different than the address on the Contract? Yes ( ) No ( )
***IF YES, CORRECT ADDRESS ON CONTRACT TO MATCH MAILING ADDRESS***   
Customer address has been verified: Yes ( ) No ( )
Mailing Address:              
Mailing City:      
Mailing State:     
Mailing Zip:        
Phone:         
Customer’s Email: (REQUIRED)
*Is Proof of Purchase required? Yes _____        No _____ (If Yes make sure it been received).
*Is Customer required to send in Cord? ___Y ____N (If Yes, advise customer they have 10 days to send that to New Leaf and Confirm customer has received the “Cut Cord” email out of Zeacom, if not resend)
*Advise customer: WE TRY TO GET CHECKS OUT AS QUICKLY AS WE CAN BUT PLEASE ALLOW UP TO 30 DAYS.  
* ALL CLAIMS ARE SUBJECT TO INSURANCE CARRIER REVIEW AND APPROVAL BEFORE FINAL PAYMENT**
*Make sure to do approval for the Cashout
*SEND SHORTKEY TO CLAIMS@NEWLEAFSC.NET mailto:CLAIMS@NEWLEAFSC.NET  FOR PAYMENT PROCESSING (UNLESS CUSTOMER IS REQUIRED TO SEND IN CORD AND TAG or unit)
*IF CUSTOMER REQUIRED TO SEND IN CORD AND TAG or UNIT, AGENT WILL COMPLETE APPROVAL AND CHANGE STATUS TO PREAPPROVED (Once cord and tag or unit received send Shortkey to claims *)
THIS WILL FULFILL ALL OBLIGATIONS OF THIS CONTRACT FOR THIS UNIT
				    			</textarea>
				    		</div>
				    		<div class="tab-pane fade" id="v-pills-rplofr" role="tabpanel" aria-labelledby="v-pills-rplofr-tab">
				    			<textarea class="form-control m-2" style="min-height: 500px !important; max-height: 100% !important; width: 98% !important">
Customer has been informed and accepted replacement model: (Model #) from (Vendor name).         
Is the customer’s PHYSICAL ADDRESS different than the address on the service order: Yes ( ) No ( )
***If YES, update on contract***  
Customer address has been verified: Yes ( ) No ( )    
Physical Address:             
City:      
State:    
Zip:        
Phone:
Customer’s Email:   (REQUIRED)
Disposition of customer’s old unit: (Delete all that do not apply)
*Customer to hold for 30 days then if New Leaf or underwriter (Ins Carrier) have not asked for it they are free to dispose of unit. 
*Depot Repair facility will scrap unit and waive all fees.
*Unit to be shipped to ANEW.  If so, we must wait till we have notification unit received at ANEW before proceeding with order.
*Customer to send in Cord and Tag.  If so, we must wait till we have received it at New Leaf before proceeding with order.  Advise customer they have 10 days to send required tag and cord to New Leaf and Confirm customer has received the “Cut Cord” email, if not resend.
**IF CUSTOMER REQUIRED TO SEND IN CORD AND TAG OR UNIT, AGENT WILL COMPLETE APPROVAL AND CHANGE STATUS TO PREAPPROVED (Once cord and tag or unit received send Shortkey)
*Regular Contracts, SEND SHORTKEY TO PENDINGREVIEW@NEWLEAFSC.NET mailto:PENDINGREVIEW@NEWLEAFSC.NET FOR DISPATCH TO SELLING RETAILER*
**EdgeStar Contracts, SEND SHORTKEY TO EDGESTAR@NEWLEAFSC.NET mailto:EDGESTAR@NEWLEAFSC.NET FOR DISPATCH TO EDGESTAR** 
THIS WILL FULFILL ALL OBLIGATIONS OF THIS CONTRACT FOR THIS UNIT.
**ALL CLAIMS ARE SUBJECT TO INSURANCE CARRIER REVIEW AND APPROVAL BEFORE FINAL PAYMENT**
				    			</textarea>
				    		</div>
				    		<div class="tab-pane fade" id="v-pills-crdofr" role="tabpanel" aria-labelledby="v-pills-crdofr-tab">
				    			<textarea class="form-control m-2" style="min-height: 500px !important; max-height: 100% !important; width: 98% !important">
Customer has been informed of the store credit in the amount of: $_____________________.    
Is the customer’s MAILING ADDRESS different than the address on the service order: Yes ( ) No ( )   
Customer address has been verified: Yes ( ) No ( )    
Mailing Address:              
Mailing City:      
Mailing State:     
Mailing Zip:        
Phone:         
We will send the information over to the place of purchase within one business day.
We ask that you go to the place of purchase within 30 days to use your store credit.
WE TRY TO GET CHECKS OUT AS QUICKLY AS WE CAN BUT PLEASE ALLOW UP TO 30 DAYS. AS A REMINDER, YOU MUST NOT DISPOSE OF THE UNIT FOR 30 DAYS FROM THE DATE THE OFFER IS TENDERED. IF AFTER 30 DAYS WE OR OUR UNDERWRITER HAVE NOT ASKED FOR IT YOU ARE FREE TO DISPOSE OF THE UNIT.  

***SEND SHORTKEY TO PENDINGREVIEW@NEWLEAFSC.NET mailto:PENDINGREVIEW@NEWLEAFSC.NET FOR DISPATCH TO SELLING RETAILER***
				    			</textarea>
				    		</div>
				    		<div class="tab-pane fade" id="v-pills-jfrr" role="tabpanel" aria-labelledby="v-pills-jfrr-tab">
				    			<textarea class="form-control m-2" style="min-height: 500px !important; max-height: 100% !important; width: 98% !important">
Justification for Replacement Review (why) :  
Initial purchase price of unit (OPP): 
Attempted Repair or Diagnostic Fee: 
Total of all previous paid, pending and current owed clams: 
(If Diag was done please enter total amount of estimate here): 
Is Proof of Purchase required? Yes _____        No _____'
If Yes make sure it been received'
If open SO was dispatched you will need to create Sub SO and assigned to Pending Review'
				    			</textarea>
				    		</div>
				    		<div class="tab-pane fade" id="v-pills-edgprt" role="tabpanel" aria-labelledby="v-pills-edgprt-tab">
				    			<textarea class="form-control m-2" style="min-height: 500px !important; max-height: 100% !important; width: 98% !important">
Subject Line: 
NEW LEAF PARTS ORDER REQUEST/ CUSTOMERNAME / SO / MODEL / SERIAL

Hello,

Would you please continue with placing the part order and shipping parts to the customer? Could you also provide the tracking number for the order once it becomes available?

CUSTOMER INFORMATION:
CUSTOMERNAME
STREETADDRESS
CITY, ST ZIP

PARTS:
PARTNAME - PARTNUMBER - PRICE
SHIPPING: $
TAX: $

APPROVAL:
Total Estimate: $
Estimate: Approved (  ), Pending (  ), DENIED (  ), REVISED (  )
Pre-Approval Code: CODE

Thank you,

<%= current_user.full_name %>
<%= current_user.department.name %>
				    			</textarea>
				    		</div>
				    	</div>
				    </form>
				</div>
			</div>

	  		
	  	</div>
	  </div>
	  <!-- /SHORTKEYS CARD -->
	  <!-- HISTORY CARD -->
	  <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
	  	<div class="card shadow-none border" style="height: 610px">
	  		<center><h3 class="font-weight-bold justify-content-center">HISTORY</h3></center>
	  		<textarea class="form-control m-2" id="historyField" style="min-height: 90% !important; width: 98.5% !important"></textarea>
	  	</div>
	  </div>
	  <!-- /HISTORY CARD -->
	</div>
</div>
<!-- /BODY -->




<!-- MODALS -->
	<!-- ALERT MODAL CALLS -->
	<div class="modal fade" id="alertModalCalls" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	      </div>
	      <div class="modal-body">
	      	<div class="tab-content">
	      		<div class="tab-pane fade show active" id="alertPaneCalls" role="tabpanel" aria-labelledby="home-tab">
					<div class="accordion" id="alertAccordion">
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="extCollapseButton">
						    <h5 class="mb-0 pb-0">
						    	EXT ALERT
						    </h5>
						    <div class="pull-right">
						    <button class="btn btn-link btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#extCollapse" aria-expanded="true" aria-controls="extCollapse">
						    	ACKNOWLEDGE
						    </button>
							</div>
					    </div>

					    <div id="extCollapse" class="collapse pb-0 mb-0" aria-labelledby="extCollapse" data-parent="#alertAccordion">
					      <div class="card-body">
					      	Verify that the below parts are not in the estimate.
					        <textarea class="form-control mirror" style="min-height: 250px !important; max-height: 400px !important"></textarea>
					      </div>
					    </div>
					  </div>
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="skuCollapseButton">
					    	<h5 class="mb-0 pb-0">
					        	SKU ALERT
					    	</h5>
					    	<button class="btn btn-link btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#skuCollapse" aria-expanded="true" aria-controls="skuCollapse">
					        	ACKNOWLEDGE
					        </button>
					    </div>

					    <div id="skuCollapse" class="collapse pb-0 mb-0" aria-labelledby="skuCollapse" data-parent="#alertAccordion">
					      <div class="card-body">
					      	SKU is showing to be a major component or replacement plan. Please do not continue unless you have verified with a manager.
					      </div>
					    </div>
					  </div>
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="lolCollapseButton">
					    	<h5 class="mb-0 pb-0">
					        	LOL ALERT
					    	</h5>
					    	<button class="btn btn-link collapsed btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#lolCollapse" aria-expanded="false" aria-controls="lolCollapse">
					        	ACKNOWLEDGE
					        </button>
					    </div>
					    <div id="lolCollapse" class="collapse pb-0 mb-0" aria-labelledby="lolCollapse" data-parent="#alertAccordion">
					      <div class="card-body">
					        The Limit of Liability has been exceeded. If this is an RSP, please be sure to follow RSP procedures. If this is a limit of liability plan then you MUST get permission from management before exceeding the LOL.
					      </div>
					    </div>
					  </div>
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="rspCollapseButton">
					    	<h5 class="mb-0 pb-0">
					    		RSP ALERT
					    	</h5>
					    	<button class="btn btn-link collapsed btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#rspCollapse" aria-expanded="false" aria-controls="rspCollapse">
					        	ACKNOWLEDGE
					        </button>
					    </div>
					    <div id="rspCollapse" class="collapse pb-0 mb-0" aria-labelledby="rspCollapse" data-parent="#alertAccordion">
					      <div class="card-body">
					        Falls under the RSP Procedures. Please continue with Pending Review instead of approving the estimate. 
					      </div>
					    </div>
					  </div>
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="300CollapseButton">
					    	<h5 class="mb-0 pb-0">
					        	300 ALERT
					    	</h5>
					    	<button class="btn btn-link collapsed btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#300Collapse" aria-expanded="false" aria-controls="300Collapse">
					        	ACKNOWLEDGE
					        </button>
					    </div>
					    <div id="300Collapse" class="collapse pb-0 mb-0" aria-labelledby="300Collapse" data-parent="#alertAccordion">
					      <div class="card-body">
					        Limit of Liability is showing to be below $300.00. Please get with a manager before approving. 
					      </div>
					    </div>
					  </div>
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="samCollapseButton">
					    	<h5 class="mb-0 pb-0">
					        	SAM ALERT
					    	</h5>
					    	<button class="btn btn-link collapsed btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#samCollapse" aria-expanded="false" aria-controls="samCollapse">
					        	ACKNOWLEDGE
					        </button>
					    </div>
					    <div id="samCollapse" class="collapse pb-0 mb-0" aria-labelledby="samCollapse" data-parent="#alertAccordion">
					      <div class="card-body">
					        Showing to be under Samsung Ice Maker bulletin. Please check to see if any of the parts below are requested and if so ask the Samsung Authorized Provider to bill Samsung directly. If additional parts are needed, you may approve covered parts and allow labor since they cannot bill Samsung. If the provider is NOT authorized, please have the SO reassigned to an authorized provider.
					      </div>
					    </div>
					  </div>
					</div>
	      		</div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="alertVerifiedCalls">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- /ALERT MODAL CALLS -->
	<!-- ALERT MODAL EMAILS -->
	<div class="modal fade" id="alertModalEmails" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	      </div>
	      <div class="modal-body">
	      	<div class="tab-content">
	      		<div class="tab-pane fade show active" id="alertPaneEmails" role="tabpanel" aria-labelledby="home-tab">
					<div class="accordion" id="alertAccordionEmails">
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="extCollapseButtonEmails">
						    <h5 class="mb-0 pb-0">
						    	EXT ALERT
						    </h5>
						    <div class="pull-right">
						    <button class="btn btn-link btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#extCollapseEmails" aria-expanded="true" aria-controls="extCollapseEmails">
						    	ACKNOWLEDGE
						    </button>
							</div>
					    </div>

					    <div id="extCollapseEmails" class="collapse pb-0 mb-0" aria-labelledby="extCollapseEmails" data-parent="#alertAccordionEmails">
					      <div class="card-body">
					      	Verify that the below parts are not in the estimate.
					        <textarea class="form-control mirror2" style="min-height: 25% !important;"></textarea>
					      </div>
					    </div>
					  </div>
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="skuCollapseButtonEmails">
					    	<h5 class="mb-0 pb-0">
					        	SKU ALERT
					    	</h5>
					    	<button class="btn btn-link btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#skuCollapseEmails" aria-expanded="true" aria-controls="skuCollapseEmails">
					        	ACKNOWLEDGE
					        </button>
					    </div>

					    <div id="skuCollapseEmails" class="collapse pb-0 mb-0" aria-labelledby="skuCollapseEmails" data-parent="#alertAccordionEmails">
					      <div class="card-body">
					      	SKU is showing to be a major component or replacement plan. Please do not continue unless you have verified with a manager.
					      </div>
					    </div>
					  </div>
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="lolCollapseButtonEmails">
					    	<h5 class="mb-0 pb-0">
					        	LOL ALERT
					    	</h5>
					    	<button class="btn btn-link collapsed btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#lolCollapseEmails" aria-expanded="false" aria-controls="lolCollapseEmails">
					        	ACKNOWLEDGE
					        </button>
					    </div>
					    <div id="lolCollapseEmails" class="collapse pb-0 mb-0" aria-labelledby="lolCollapseEmails" data-parent="#alertAccordionEmails">
					      <div class="card-body">
					        The Limit of Liability has been exceeded. If this is an RSP, please be sure to follow RSP procedures. If this is a limit of liability plan then you MUST get permission from management before exceeding the LOL.
					      </div>
					    </div>
					  </div>
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="rspCollapseButtonEmails">
					    	<h5 class="mb-0 pb-0">
					    		RSP ALERT
					    	</h5>
					    	<button class="btn btn-link collapsed btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#rspCollapseEmails" aria-expanded="false" aria-controls="rspCollapseEmails">
					        	ACKNOWLEDGE
					        </button>
					    </div>
					    <div id="rspCollapseEmails" class="collapse pb-0 mb-0" aria-labelledby="rspCollapseEmails" data-parent="#alertAccordionEmails">
					      <div class="card-body">
					        Falls under the RSP Procedures. Please continue with Pending Review instead of approving the estimate. 
					      </div>
					    </div>
					  </div>
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="300CollapseButtonEmails">
					    	<h5 class="mb-0 pb-0">
					        	300 ALERT
					    	</h5>
					    	<button class="btn btn-link collapsed btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#300CollapseEmails" aria-expanded="false" aria-controls="300CollapseEmails">
					        	ACKNOWLEDGE
					        </button>
					    </div>
					    <div id="300CollapseEmails" class="collapse pb-0 mb-0" aria-labelledby="300CollapseEmails" data-parent="#alertAccordionEmails">
					      <div class="card-body">
					        Limit of Liability is showing to be below $300.00. Please get with a manager before approving. 
					      </div>
					    </div>
					  </div>
					  <div class="card mb-0 pb-0">
					    <div class="card-header bg-light pt-0 pb-0" id="samCollapseButtonEmails">
					    	<h5 class="mb-0 pb-0">
					        	SAM ALERT
					    	</h5>
					    	<button class="btn btn-link collapsed btn-secondary font-weight-bold" type="button" data-toggle="collapse" data-target="#samCollapseEmails" aria-expanded="false" aria-controls="samCollapseEmails">
					        	ACKNOWLEDGE
					        </button>
					    </div>
					    <div id="samCollapseEmails" class="collapse pb-0 mb-0" aria-labelledby="samCollapseEmails" data-parent="#alertAccordionEmails">
					      <div class="card-body">
					        Showing to be under Samsung Ice Maker bulletin. Please check to see if any of the parts below are requested and if so ask the Samsung Authorized Provider to bill Samsung directly. If additional parts are needed, you may approve covered parts and allow labor since they cannot bill Samsung. If the provider is NOT authorized, please have the SO reassigned to an authorized provider.
					      </div>
					    </div>
					  </div>
					</div>
	      		</div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="alertVerifiedEmails">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- /ALERT MODAL EMAILS -->
	<!-- COMPLETION RECEIPT MODAL CALLS -->
	<div class="modal fade" id="completionModalCalls" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="est1Calls-tab" data-toggle="tab" href="#est1Calls" role="tab" aria-controls="est1Calls" aria-selected="true">EST1</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="jfrrCalls-tab" data-toggle="tab" href="#jfrrCalls" role="tab" aria-controls="jfrrCalls" aria-selected="false">JFRR</a>
				</li>
			</ul>
	      </div>
	      <div class="modal-body">
	      	<div class="tab-content">
	      		<div class="tab-pane fade show active" id="est1Calls" role="tabpanel" aria-labelledby="home-tab">
	      			<textarea class="form-control" id="est1ReceiptCalls" style="min-height: 500px !important; max-height: 100% !important"></textarea>
	      		</div>
	      		<div class="tab-pane fade" id="jfrrCalls" role="tabpanel" aria-labelledby="profile-tab">
	      			<textarea class="form-control" id="jfrrReceiptCalls" style="min-height: 500px !important; max-height: 100% !important"></textarea>
	      		</div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button id="emailFormButtonCalls" type="button" class="btn btn-warning m-1" hidden>OTL Send</button>
	        <button type="button" class="btn btn-primary" onclick="appendTemplate()" data-dismiss="modal">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- /COMPLETION RECEIPT MODAL CALLS -->
	<!-- COMPLETION RECEIPT MODAL EMAILS -->
	<div class="modal fade" id="completionModalEmails" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <ul class="nav nav-tabs" id="myTabEmails" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="est1Emails-tab" data-toggle="tab" href="#est1Emails" role="tab" aria-controls="est1Emails" aria-selected="true">EST1</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="jfrrEmails-tab" data-toggle="tab" href="#jfrrEmails" role="tab" aria-controls="jfrrEmails" aria-selected="false">JFRR</a>
				</li>
			</ul>
	      </div>
	      <div class="modal-body">
	      	<div class="tab-content">
	      		<div class="tab-pane fade show active" id="est1Emails" role="tabpanel" aria-labelledby="home-tab">
	      			<textarea class="form-control" id="est1ReceiptEmails" style="min-height: 500px !important; max-height: 100% !important"></textarea>
	      		</div>
	      		<div class="tab-pane fade" id="jfrrEmails" role="tabpanel" aria-labelledby="profile-tab">
	      			<textarea class="form-control" id="jfrrReceiptEmails" style="min-height: 500px !important; max-height: 100% !important"></textarea>
	      		</div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button id="emailFormButtonEmails" type="button" class="btn btn-warning m-1" hidden>OTL Send</button>
	        <button type="button" class="btn btn-primary" onclick="appendTemplate2()" data-dismiss="modal">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- /COMPLETION RECEIPT MODAL EMAILS -->
	<!-- WARRANTY EXTENSIONS MODAL CALLS -->
	<div class="modal fade" id="extensionModalCalls" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	      </div>
	      <div class="modal-body">
	      	<div class="tab-content">
	      		<div class="tab-pane fade show active" id="extensionPaneCalls" role="tabpanel" aria-labelledby="home-tab">
	      			<textarea class="form-control mirror" id="extensionFieldCalls" style="min-height: 500px !important; max-height: 100% !important"></textarea>
	      		</div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">SAVE</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- /WARRANTY EXTENSIONS MODAL CALLS -->
	<!-- WARRANTY EXTENSIONS MODAL EMAILS -->
	<div class="modal fade" id="extensionModalEmails" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	      </div>
	      <div class="modal-body">
	      	<div class="tab-content">
	      		<div class="tab-pane fade show active" id="extensionPaneEmails" role="tabpanel" aria-labelledby="home-tab">
	      			<textarea class="form-control mirror2" id="extensionFieldEmails" style="min-height: 500px !important; max-height: 100% !important"></textarea>
	      		</div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">SAVE</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- /WARRANTY EXTENSIONS MODAL EMAILS -->
<!-- /MODALS -->
<%= javascript_include_tag "validator.js" %>