
<% @title = "PENDING DECISIONS" %>

<script>
    $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });

    $(document).ready( function () {
    $('#parts_index_all').DataTable();
  });
</script>

<% content_for :description do %>
  ***REFRESH AFTER UPDATING***
  <% end %>


      <div class="container">
        <center><h3>PENDING APPROVAL PARTS</h3></center>
        <div class="row">
          <div class="col-md-12">
            <div class="card card-sheet sheet-condensed">
              <div class="table-responsive">
              <table class="table table-striped table-hover table-sm-responsive display" id="parts_index_pending">
                <thead>
                  <tr>
                                          <th>Source</th>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Description</th>
                                          <th>Product</th>
                                          <th>Buying Group</th>
                                          <th>Dop</th>
                                          <th>Submitted By</th>
                                        <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @parts.each do |part| %>
                  <tr data-toggle="collapse" data-target="#accordion<%= part.id %>" class="accordion-toggle">
                                          <td><% if part.source.present? %><a href="<%= part.source %>" target="_blank"><%= part.source.truncate(15) %></a><% else %><%= part.source %><% end %></td>
                                          <td><%= best_in_place part, :part_number, :as => :input %></td>
                                          <td><%= part.part_name.truncate(15) %></td>
                                          <td><%= part.part_description.truncate(15) %></td>
                                          <td><%= part.product.pname.truncate(15) %></td>
                                          <td><%= part.buying_group.bgname.truncate(15) %></td>
                                          <td><%= part.dop %></td>
                                          <td><%= part.submitted_by.truncate(15) %></td>
                                        <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), part, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("pencil-alt"), edit_part_path(part), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("trash"), part, 'data-toggle': 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' %>
                      </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="10" class="hiddenrow">
                        <div id="accordion<%= part.id %>" class="collapse">
                          <div class="card m-1 p-1">
                            <div class="row">
                              <div class="col-6">
                                <div class="d-flex justify-content-end">
                                  <label class="form-label pl-1 pr-1">
                                    Covered: 
                                  </label>
                                  <span class="border rounded pl-1 pr-1"><%= best_in_place part, :covered, :as => :select, :collection => {"pending" => "Pending", "not-covered" => "Not-Covered", "covered" => "Covered", "special" => "Special"} %></span>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="d-flex justify-content-start">
                                  <label class="form-label pl-1 pr-1">
                                    Approved By: 
                                  </label>
                                  <span class="border rounded pl-1 pr-1"><%= best_in_place part, :approved_by, :as => :select, :collection => @approvedby %></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% end %>
                    <% if @parts.length == 0 %>
                    <tr><td colspan=42 class='text-center'>No parts.</td></tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
                </div>

                                  <%# Remove the trailing if condition if you're using pagination. %>
                  <%= will_paginate @parts %>
                
                              </div>
            </div>
            <center><h3>ALL PARTS</h3></center>
            <div class="row">
          <div class="col-md-12">
            <div class="card card-sheet sheet-condensed">
              <div class="table-responsive">
              <table class="table table-striped table-hover table-sm-responsive display" id="parts_index_all">
                <thead>
                  <tr>
                                          <th>Covered</th>
                                          <th>Approved By</th>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Product</th>
                                          <th>Buying Group</th>
                                          <th>Dop</th>
                                          <th>Submitted By</th>
                                        <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @allparts.each do |part| %>
                  <tr>
                                          <td class="text-capitalize"><%= best_in_place part, :covered, :as => :select, :collection => {"pending" => "Pending", "not-covered" => "Not-Covered", "covered" => "Covered", "special" => "Special"} %></td>
                                          <td><%= best_in_place part, :approved_by, :as => :select, :collection => @approvedby %></td>
                                          <td><%= best_in_place part, :part_number, :as => :input %></td>
                                          <td><%= part.part_name %></td>
                                          <td><%= part.product.pname %></td>
                                          <td><%= part.buying_group.bgname %></td>
                                          <td><%= part.dop %></td>
                                          <td><%= part.submitted_by %></td>
                                        <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), part, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("pencil-alt"), edit_part_path(part), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("trash"), part, 'data-toggle': 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' %>
                      </div>
                      </td>
                    </tr>
                    <% end %>
                    <% if @allparts.length == 0 %>
                    <tr><td colspan=42 class='text-center'>No parts.</td></tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
                </div>

                                  <%# Remove the trailing if condition if you're using pagination. %>
                  <%= will_paginate @parts %>
                
                              </div>
            </div>
          </div>
