<% @title = "Listing Parts" %>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script>
  $(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});

  $(document).ready( function () {
    $('#parts_index').DataTable();
} );
</script>

<% content_for :description do %>
  <% end %>

  <% content_for :actions do %>
    <%= link_to new_part_path, class: 'btn btn-primary btn-large pull-right' do %>
      <%= fa_icon_tag "plus" %> Add Part
      <% end %>
      <% end %>

      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="card card-mini card-mini-solid-icon">
              <div class="card-header">
                <h5 class="text-uppercase m-auto"><%= current_user.first_name %>'s OPEN INQUIRIES</h5>
              </div>
              <div class="table-responsive">
              <table class="table table-striped table-hover table-sm-responsive display">
                <thead>
                  <tr>
                                          <th>Covered</th>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Product</th>
                                        <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @pendinguser.each do |part| %>
                  <tr>
                                          <td class="text-capitalize"><%= part.covered.truncate(15) %></td>
                                          <td><%= part.part_number.truncate(15) %></td>
                                          <td><%= part.part_name.truncate(15) %></td>
                                          <td><%= part.product.pname.truncate(15) %></td>
                                          
                                        <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("pencil-alt"), edit_part_path(part), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("trash"), part, 'data-toggle': 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' %>
                      </div>
                      </td>
                    </tr>
                    <% end %>
                    <% if @pendinguser.length == 0 %>
                    <tr><td colspan=42 class='text-center'>No parts.</td></tr>
                    <% end %>
                    </tbody>
                  </table>
                </div><center><%= will_paginate @pendinguser %></center>
            </div>
          </div>
          <div class="col-6">
            <div class="card card-mini card-mini-solid-icon">
              <div class="card-header">
                <h5 class="text-uppercase m-auto">DECISIONS</h5>
              </div>
              <div class="table-responsive">
              <table class="table table-striped table-hover table-sm-responsive display">
                <thead>
                  <tr>
                                          <th>Covered</th>
                                          <th>Approved</th>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Product</th>
                                        <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @alluser.each do |part| %>
                  <tr>
                                        <% if part.approved_by.present? %>
                                          <td class="text-capitalize"><%= part.covered.truncate(15) %></td>
                                          <td><%= part.approved_by %></td>
                                          <td><%= part.part_number.truncate(15) %></td>
                                          <td><%= part.part_name.truncate(15) %></td>
                                          <td><%= part.product.pname.truncate(15) %></td>
                                        
                                        <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to fa_icon_tag("envelope-o"), part, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                      </div>
                      </td>
                      <% end %>  
                    </tr>
                    <% end %>
                    <% if @alluser.length == 0 %>
                    <tr><td colspan=42 class='text-center'>No parts.</td></tr>
                    <% end %>
                    </tbody>
                  </table>
                </div><center><%= will_paginate @alluser %></center>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card card-sheet sheet-condensed">
              <div class="table-responsive">
              <table class="table table-striped table-hover table-sm-responsive display" id="parts_index">
                <thead>
                  <tr>
                                          <th>Covered</th>
                                          <th>Approved By</th>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Description</th>
                                          <th>Product</th>
                                          <th>Buying Group</th>
                                          <th>DOP</th>
                                          <th>Submitted By</th>
                                        <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @parts.each do |part| %>
                  <tr>
                                          <td class="text-capitalize"><%= part.covered.truncate(15) %></td>
                                          <td><%= part.approved_by %></td>
                                          <td><%= part.part_number.truncate(15) %></td>
                                          <td><%= part.part_name.truncate(15) %></td>
                                          <td><%= part.part_description.truncate(15) %></td>
                                          <td><%= part.product.pname.truncate(15) %></td>
                                          <td><%= part.buying_group.bgname.truncate(15) %></td>
                                          <td><%= part.dop %></td>
                                          <td><%= part.submitted_by.truncate(15) %></td>
                                        <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), part, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("pencil-alt"), edit_part_path(part), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("trash"), part, 'data-toggle': 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' %>
                      </div>
                      </td>
                    </tr>
                    <% end %>
                    <% if @parts.length == 0 %>
                    <tr><td colspan=42 class='text-center'>No parts.</td></tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
                </div>

                                  <%# Remove the trailing if condition if you're using pagination. %>
                  <%= will_paginate @parts if @parts.respond_to?(:total_pages) %>
                
                              </div>
            </div>
          </div>
<script>
$('#pn-search').keyup(function() {
    $('#pn-form').val($(this).val());
});


$('#pn-form').keyup(function() {
    $('#pn-search').val($(this).val());
});
</script>