<% @title = "Showing Part" %>

<% content_for :description do %>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Part number</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @part.part_number %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Part name</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @part.part_name %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Part description</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @part.part_description %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Product</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @part.product %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Buying group</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @part.buying_group %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Dop</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @part.dop %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Covered</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @part.covered %>
                  </span>
                </div>
              </div>

                        <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_part_path(@part), class: 'btn btn-primary' %>
                <%= link_to 'Back', parts_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
