<div class="row equal-cols">
  <div class="col-12 col-md-9 animate-fade-in-1000">
    <div class="card card-full-height inspectable">
      <!-- component-title: Graph -->
      <div class="card-header d-flex align-items-center">
        <h6 class="mr-auto">Occurrences by Department</h6>
        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active" id="chartBar">
             <input type="radio" name="options"  autocomplete="off" checked>Bar
          </label>
          
          <label class="btn btn-secondary" id="chartLine">
            <input type="radio" name="options"  autocomplete="off">Line
          </label>
          
        </div>
        <div class="d-flex">
          <div class="dropdown">
            <button class="nav-link btn btn-icon " type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= theme_icon_tag "more" %>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-badgeledby="salesAndRefundButton" id="chart-selector">
              <button class="dropdown-item" id="chartDeptToday">Department Today</button>
              <button class="dropdown-item" id="chartDeptEffective">Department 180 Days</button>
              <button class="dropdown-item" id="chartAgentToday">Agent Today</button>
              <button class="dropdown-item" id="chartAgentEffective">Agent 180 Days</button>
              <button class="dropdown-item" id="chartToday">Company Today</button>
              <button class="dropdown-item" id="chartEffective">Company 180 Days</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body position-relative">
        <!-- <canvas id="myChart" width="400" height="200"></canvas> -->
<canvas id="occurrenceChart" width="300" height="150"></canvas>
<script>
var chart_labels = <%= raw @chart_labels_dept_today %>;
var chart_data = <%= raw @chart_data_dept_today %>;
var dataset_label = "Today";
var chart_type = 'bar';
var ctx = document.getElementById("occurrenceChart").getContext('2d');
var config = {
    type: 'bar',
    data: {
        labels: chart_labels,
        datasets: [{
            type: chart_type,
            label: dataset_label,
            yAxisID: "y-axis-0",
            fill: true,
            data: chart_data,
            backgroundColor: '#f1f8e9',
            borderColor: '#7cb342',
            borderWidth: 1
        },]
    },
    options: {
        scales: {
            yAxes: [{
                position: "left",
                "id": "y-axis-0",
                ticks: {
                  beginAtZero: true
                }
            }]
        }
    }
};
var occurrence_chart = new Chart(ctx, config);
$("#chartDeptToday").click(function() {
    var chart_labels = <%= raw @chart_labels_dept_today %>;
    var chart_data = <%= raw @chart_data_dept_today %>;
    var dataset_label = "Today";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartDeptEffective").click(function() {
    var chart_labels = <%= raw @chart_labels_dept_effective %>;
    var chart_data = <%= raw @chart_data_dept_effective %>;
    var dataset_label = "180 Days";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartAgentToday").click(function() {
    var chart_labels = <%= raw @chart_labels_agent_today %>;
    var chart_data = <%= raw @chart_data_agent_today %>;
    var dataset_label = "Agent Today";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartAgentEffective").click(function() {
    var chart_labels = <%= raw @chart_labels_agent_effective %>;
    var chart_data = <%= raw @chart_data_agent_effective %>;
    var dataset_label = "Agent 180 Days";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartToday").click(function() {
    var chart_labels = <%= raw @chart_labels_today %>;
    var chart_data = <%= raw @chart_data_today %>;
    var dataset_label = "Today";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartEffective").click(function() {
    var chart_labels = <%= raw @chart_labels_effective %>;
    var chart_data = <%= raw @chart_data_effective %>;
    var dataset_label = "180 Days";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartBar").click(function() {
    var chart_type = 'bar';
    var data = occurrence_chart.config.data;
    data.datasets[0].type = chart_type;
    occurrence_chart.update();
});
$("#chartLine").click(function() {
    var data = occurrence_chart.config.data;
    var chart_type = 'line';
    data.datasets[0].type = chart_type;
    occurrence_chart.update();
});
</script>


      </div>
    </div>
  </div>

  <div class="col-12 col-md-3 animate-fade-in-1000">
    <div class="card card-full-height d-flex inspectable">
      <!-- component-title: Timeline Card -->
      <div class="card-header">
        <h6>Occurrence Rankings</h6>
      </div>
      <div class="card-body">
        <div class="timeline" style="height: 450px">
          <ul class="left-timeline">
            <% @agent_occurrence_values.zip(@agent_occurrence_labels).sort{ |a, b| b <=> a }.each do |entry| %>
              <li class="timeline-item">

                <time class=''>
                  <strong>
                    <%= entry.join(" ").truncate(25) %>
                  </strong>
                </time>
                <div class="activity-text">
                  <strong><%#= @fdsa %></strong>
                  <small class="text-muted"><%#= entry.agent.department.name %></small>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
