  <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
<script>
    Pusher.logToConsole = true;

    var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
      cluster: '<%= ENV["PUSHER_CLUSTER"] %>',
      forceTLS: true
    });

    var channel = pusher.subscribe('entry');
    channel.bind('new-entry', function(data) {
      var s = $('#occurrence-'+data.id).text();
      $('#occurrence-'+data.id).html(parseFloat(s)+parseFloat(data.ovalue));
    });

</script>
<div class="row equal-cols">
  <div class="col-12 col-md-9 animate-fade-in-1000">
    <div class="card card-full-height inspectable">
      <!-- component-title: Graph -->
      <div class="card-header d-flex align-items-center">
        <h6 class="mr-auto">Occurrences by Department</h6>
        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active" id="chartBar">
             <input type="radio" name="options"  autocomplete="off" checked>Bar
          </label>
          
          <label class="btn btn-secondary" id="chartLine">
            <input type="radio" name="options"  autocomplete="off">Line
          </label>
          
        </div>
        <div class="d-flex">
          <div class="dropdown">
            <button class="nav-link btn btn-icon " type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= theme_icon_tag "more" %>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-badgeledby="salesAndRefundButton" id="chart-selector">
              <button class="dropdown-item" id="chartDeptToday">Department Today</button>
              <button class="dropdown-item" id="chartDeptEffective">Department 180 Days</button>
              <button class="dropdown-item" id="chartAgentToday">Agent Today</button>
              <button class="dropdown-item" id="chartAgentEffective">Agent 180 Days</button>
              <button class="dropdown-item" id="chartToday">Company Today</button>
              <button class="dropdown-item" id="chartEffective">Company 180 Days</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body position-relative" style="overflow-y: scroll !important;">
        <!-- <canvas id="myChart" width="400" height="200"></canvas> -->
<canvas id="occurrenceChart" width="300" height="150"></canvas>
<script>
var chart_labels = <%= raw @chart_labels_dept_today %>;
var chart_data = <%= raw @chart_data_dept_today %>;
var dataset_label = "Today";
var chart_type = 'horizontalBar';
var ctx = document.getElementById("occurrenceChart").getContext('2d');
var config = {
    type: 'horizontalBar',
    data: {
        labels: chart_labels,
        datasets: [{
            type: chart_type,
            label: dataset_label,
            yAxisID: "y-axis-0",
            fill: true,
            data: chart_data,
            backgroundColor: '#f1f8e9',
            borderColor: '#7cb342',
            borderWidth: 1
        },]
    },
    options: {
        scales: {
            yAxes: [{
                position: "left",
                "id": "y-axis-0",
                ticks: {
                  beginAtZero: true
                }
            }],
            xAxes: [{
              position: 'top',
              ticks: {
                beginAtZero: true
              }
            }]
        }
    }
};
var occurrence_chart = new Chart(ctx, config);
$("#chartDeptToday").click(function() {
    var chart_labels = <%= raw @chart_labels_dept_today %>;
    var chart_data = <%= raw @chart_data_dept_today %>;
    var dataset_label = "Today";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartDeptEffective").click(function() {
    var chart_labels = <%= raw @chart_labels_dept_effective %>;
    var chart_data = <%= raw @chart_data_dept_effective %>;
    var dataset_label = "180 Days";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartAgentToday").click(function() {
    var chart_labels = <%= raw @chart_labels_agent_today %>;
    var chart_data = <%= raw @chart_data_agent_today %>;
    var dataset_label = "Agent Today";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartAgentEffective").click(function() {
    var chart_labels = <%= raw @chart_labels_agent_effective %>;
    var chart_data = <%= raw @chart_data_agent_effective %>;
    var dataset_label = "Agent 180 Days";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartToday").click(function() {
    var chart_labels = <%= raw @chart_labels_today %>;
    var chart_data = <%= raw @chart_data_today %>;
    var dataset_label = "Today";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartEffective").click(function() {
    var chart_labels = <%= raw @chart_labels_effective %>;
    var chart_data = <%= raw @chart_data_effective %>;
    var dataset_label = "180 Days";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartBar").click(function() {
    var chart_type = 'horizontalBar';
    var data = occurrence_chart.config.data;
    data.datasets[0].type = chart_type;
    occurrence_chart.update();
});
$("#chartLine").click(function() {
    var data = occurrence_chart.config.data;
    var chart_type = 'line';
    data.datasets[0].type = chart_type;
    occurrence_chart.update();
});
</script>


      </div>
    </div>
  </div>

<div id="modal-agents" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>

  <div class="col-12 col-md-3 animate-fade-in-1000">
    <div class="card d-flex inspectable">
      <!-- component-title: Timeline Card -->
      <div class="card-header">
        <h6>Occurrence Rankings</h6>
      </div>
      <div class="card-body" style="height: 500px;overflow-y: scroll">
        <ol class="list-group">
          <% if @agent_occurrence_values.nil? %>
          ERROR - Report to Admin
          <% else %>
            <% @agent_occurrence_values.sort_by {|obj| obj[1] }.reverse.each do |f| %>
            <li class="list-group-item list-group-item-action"> <%= link_to (f[0][1]+" "+f[0][2]), entries_agentview_path(:id => f[0][0]), remote: true, 'data-toggle':  "modal", 'data-target': '#modal-agents', class: 'btn btn-link' %> <span class="badge badge-primary badge-pill pull-right" id="occurrence-<%= f[0][0] %>"><%= f[1] %></span></li>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>


