
<%= stylesheet_link_tag "pagination.css" %>
<div id="modal-window" class="card-body">
    <div class="modal hide" id="myModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" style="display: block;">
      <div class="modal-dialog" style="width: 90%; max-width: 1200px;">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">CLOSE</button>
          </div>
          <div class="modal-body">
            <%= month_calendar events: @entries do |date, entries| %>
              <%= link_to date.day, new_entry_path %>
              <% entries.each do |entry| %>
                <div>
                  <small>
                <b><%= entry.occurrence.name.truncate(2, omission: ' ') %></b>
                <%= link_to entry.user.full_name.truncate(15), entry, 'data-toggle': 'tooltip', title: entry.user.full_name, class: "btn btn-link" %>                 
                </small>
              </div>
              <% end %>  
            <% end %> 
          </div>
        </div>
      </div>
    </div>
  </div>

