

<%= form_for(@entry, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class='form-inputs'>
    <%= f.form_group :agent, class: 'row' do |f| %>
      <%= f.label 'Agent', class: 'control-label col-md-12' %>
      <div class='col-12 col-md-12'>
        <%= f.grouped_collection_select :agent_id, Department.order(:id), :agents, :name, :id, :user_full_name, {}, {'data-live-search': true, :class=>'selectpicker text-dark'} %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :occurrence, class: 'row' do |f| %>
      <%= f.label 'Occurrence Type', class: 'control-label col-md-12' %>
      <div class='col-12 col-md-12'>
        <%= f.collection_select :occurrence_id, Occurrence.order(:id), :id, :name, {}, {:class=>'form-control form-control-sm text-dark'} %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :edate, class: 'row' do |f| %>
      <%= f.label 'Occurrence Date', class: 'control-label col-md-12' %>
      <div class='col-12 col-md-12'>
        <%= f.date_field :edate, class: 'form-control form-control-sm text-dark' %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :edesc, class: 'row pb-3 border-bottom' do |f| %>
      <%= f.label 'Description', class: 'control-label col-md-12' %>
      <div class='col-12 col-md-12'>
        <%= f.text_area :edesc, class: 'form-control form-control-sm text-dark' %>
        <%= f.error_messages %>
      </div>
    <% end %>

  </div>

  <div class='d-flex'>
    <div class='mx-auto'>
      <%= f.submit class: 'btn btn-primary text-white font-weight-bold text-uppercase' %>
    </div>
  </div>
<% end %>

