
<script>
  jQuery(function() {
  var agents;
  agents = $('#entry_agent_id').html();
  console.log(agents);
  return $('#entry_dept').change(function() {
    var department, options;
    department = $('#entry_dept :selected').text();
    options = $(agents).filter("optgroup[label=" + department + "]").html();
    console.log(options);
    if (options) {
      return $('#entry_agent_id').html(options);
    } else {
      return $('#entry_agent_id').empty();
    }
  });
});

</script>

<%= form_for(@entry, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.form_group :dept, class: 'row' do |f| %>
      <%= f.label "department", class: 'control-label col-md-2' %>
      <div class='col-12 col-md-10'>
        <%= f.collection_select :dept, Department.order(:id), :id, :name %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :agent, class: 'row' do |f| %>
      <%= f.label "Agent", class: 'control-label col-md-2' %>
      <div class='col-12 col-md-10'>
        <%= f.grouped_collection_select :agent_id, Department.order(:id), :agents, :name, :id, :full_name %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :occurrence, class: 'row' do |f| %>
      <%= f.label "Occurrence Type", class: 'control-label col-md-2' %>
      <div class='col-12 col-md-10'>
        <%= f.collection_select :occurrence_id, Occurrence.order(:id), :id, :name %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :edate, class: 'row' do |f| %>
      <%= f.label "Occurrence Date", class: 'control-label col-md-2' %>
      <div class='col-12 col-md-10'>
        <%= f.date_select :edate, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :edesc, class: 'row' do |f| %>
      <%= f.label "Description", class: 'control-label col-md-2' %>
      <div class='col-12 col-md-10'>
        <%= f.text_area :edesc, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

  </div>

  <div class="d-flex">
    <div class="ml-auto">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Cancel", entries_path, class: 'btn btn-outline-default' %>
    </div>
  </div>
<% end %>

