<div class="row">
  <div class="col-12 col-md-6 col-lg-3 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              <%= theme_icon_tag "", class: "display-4" %>
            </span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0"><%= @entries.map {|t| t.occurrence_total }.first %></h4>
            <h6 class="m-0 text-muted">Total Occurrences</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              <%= theme_icon_tag "", class: "display-4" %>
            </span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0"><%= @entries.map {|f| f.occurrence_ovalue_today}.first %></h4>
            <h6 class="m-0 text-muted">Todays Occurrences</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              
            </span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0"><%= Agent.count(:id) %></h4>
            <h6 class="m-0 text-muted">Total Agents</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              
            </span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0" data-refresh-interval="10"><%= @entries.map{|m| m.occurrences_today}.first %></h4>
            <h6 class="m-0 text-muted">Agents Late/Absent</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
