<div class="row equal-cols">
  <div class="col-12 col-md-9 animate-fade-in-1000">
    <div class="card card-full-height inspectable">
      <!-- component-title: Graph -->
      <div class="card-header d-flex align-items-center">
        <h6 class="mr-auto">Occurrences by Agent</h6>

        <div class="d-flex">
          <div class="dropdown">
            <button class="nav-link btn btn-icon " type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= theme_icon_tag "more" %>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-badgeledby="salesAndRefundButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body position-relative">
        <canvas id="myChart" width="400" height="200"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= raw Department.all.map { |m| [m.name]} %>,
        datasets: [{
            label: '# of Occurrences',
            data: [<%= @chart %>],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-3 animate-fade-in-1000">
    <div class="card card-full-height d-flex inspectable">
      <!-- component-title: Timeline Card -->
      <div class="card-header">
        <h6>SALES ACTIVITY</h6>
      </div>
      <div class="card-body">
        <div class="timeline" style="height: 450px">
          <ul class="left-timeline">
            <% types = [ { klass: 'refund', css_class: 'badge badge-danger'},  { klass: 'purchase', css_class: 'badge badge-success'}, { klass: 'cancellation', css_class: 'badge badge-light'}] %>
            <% (1..8).each do |entry|%>
              <li class="timeline-item">
                <% instance = types[Random.rand(types.length)] %>
                <time class=''>
                  <strong><%= raw Occurrence.all.map { |m| [m.ovalue]}.last(1) %></strong>
                </time>
                <div class="activity-text">
                  <strong><%= raw Agent.all.map { |m| [m.lname]}.last(1) %></strong>
                  <small class="text-muted"><%=instance[:klass].upcase %> - <%=time_ago_in_words( DateTime.now-(entry.minutes) ) %></small>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
