<script>
var chart_labels = <%= raw @chart_labels_dept_today %>;
var chart_data = <%= raw @chart_data_dept_today %>;
var dataset_label = "Today";
var chart_type = 'bar';
var ctx = document.getElementById("occurrenceChart").getContext('2d');
var config = {
    type: 'bar',
    data: {
        labels: chart_labels,
        datasets: [{
            type: chart_type,
            label: dataset_label,
            yAxisID: "y-axis-0",
            fill: true,
            data: chart_data,
            backgroundColor: '#f1f8e9',
            borderColor: '#7cb342',
            borderWidth: 1
        },]
    },
    options: {
        scales: {
            yAxes: [{
                position: "left",
                "id": "y-axis-0",
                ticks: {
                  beginAtZero: true
                }
            }]
        }
    }
};
var occurrence_chart = new Chart(ctx, config);
$("#chartDeptToday").click(function() {
    var chart_labels = <%= raw @chart_labels_dept_today %>;
    var chart_data = <%= raw @chart_data_dept_today %>;
    var dataset_label = "Today";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartDeptEffective").click(function() {
    var chart_labels = <%= raw @chart_labels_dept_effective %>;
    var chart_data = <%= raw @chart_data_dept_effective %>;
    var dataset_label = "180 Days";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartAgentToday").click(function() {
    var chart_labels = <%= raw @chart_labels_agent_today %>;
    var chart_data = <%= raw @chart_data_agent_today %>;
    var dataset_label = "Agent Today";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartAgentEffective").click(function() {
    var chart_labels = <%= raw @chart_labels_agent_effective %>;
    var chart_data = <%= raw @chart_data_agent_effective %>;
    var dataset_label = "Agent 180 Days";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartToday").click(function() {
    var chart_labels = <%= raw @chart_labels_today %>;
    var chart_data = <%= raw @chart_data_today %>;
    var dataset_label = "Today";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartEffective").click(function() {
    var chart_labels = <%= raw @chart_labels_effective %>;
    var chart_data = <%= raw @chart_data_effective %>;
    var dataset_label = "180 Days";
    var data = occurrence_chart.config.data;
    data.datasets[0].data = chart_data;
    data.labels = chart_labels;
    data.datasets[0].label = dataset_label;
    occurrence_chart.update();
});
$("#chartBar").click(function() {
    var chart_type = 'bar';
    var data = occurrence_chart.config.data;
    data.datasets[0].type = chart_type;
    occurrence_chart.update();
});
$("#chartLine").click(function() {
    var data = occurrence_chart.config.data;
    var chart_type = 'line';
    data.datasets[0].type = chart_type;
    occurrence_chart.update();
});
</script>
<%= content_for :js_libs, "modernizr gmaps flot chartjs demo-dashboard demo-gmaps" %>
<%= stylesheet_link_tag "pagination.css" %>
<div class="container-fluid">
  <%#= render partial: 'entries/bs_table' %>
  <%= render partial: 'entries/metrics_cards' %>
  <%#= render partial: 'entries/metric_charts' %>
  <%= render partial: 'entries/attendance_charts' %>
  <%= render partial: 'entries/entry_table' %>
  <%#= render partial: 'entries/server_activity' %>
  <%#= render partial: 'entries/online_users' %>
</div>
