<%= content_for :js_libs, "modernizr gmaps flot chartjs demo-dashboard demo-gmaps" %>
<%= stylesheet_link_tag "pagination.css" %>
<div class="container-fluid">
  <%#= render partial: 'entries/bs_table' %>
  <%= render partial: 'entries/metrics_cards' %>
  <%#= render partial: 'entries/metric_charts' %>
  <%= render partial: 'entries/attendance_charts' %>
  <%= render partial: 'entries/entry_table' %>
  <%#= render partial: 'entries/server_activity' %>
  <%#= render partial: 'entries/online_users' %>
</div>
