<%= stylesheet_link_tag "pagination.css" %>
<% @title = "All Entries" %>

<% content_for :description do %>
  <% end %>
  <% content_for :actions do %>
    <%= link_to new_entry_path, class: 'btn btn-primary btn-large pull-right' do %>
      <%= fa_icon_tag "plus" %> Add Entry
    <% end %>
  <% end %>

<style>
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.table-responsive::-webkit-scrollbar {
  width: 5px;
    height: 5px;
}

</style>

  
<script>

$(document).ready(function(t){

var t = $('#entryTable').DataTable({ 
        "pageLength": 10,
        select: true,
        columns: [ 
              { data: 'Agent'}, 
              { data: 'Department' }, 
              { data: 'Occurrence' },
              { data: 'Value' },
              { data: 'Date' },
              { data: 'Expiration' },
              { data: 'Description' },
              { data: '' } 
            ]
          });
  t.order( [ 4, 'desc' ] ).draw();

    // Enable pusher logging - don't include this in production
    // Pusher.logToConsole = true;

    // var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
    //   cluster: '<%= ENV["PUSHER_CLUSTER"] %>',
    //   forceTLS: true
    // });

    // var channel = pusher.subscribe('entry');
    // channel.bind('new-entry', function(data) {
    //   t.rows.add([{'Agent': data.agent, 'Department': data.department, 'Occurrence': data.occurrence, 'Value': data.ovalue, 'Date': data.date, 'Expiration': data.exp, 'Description': data.description, '': 'JUST ADDED'}]).draw();
    // });
var buttons = new $.fn.dataTable.Buttons(t, {
     buttons: [
       'copyHtml5',
       'selectNone',
       'selectAll',
       'csvHtml5'
    ]
}).container().appendTo($('#buttons'));

t.rows.add(
  [<% @entries.each do |entry| -%><% if entry.user.deleted_at.nil? %>{'Agent': '<%= entry.user.full_name %>', 'Department': '<%= entry.department.name.truncate(15) %>', 'Occurrence': '<%= entry.occurrence.name.truncate(12) %>', 'Value': '<%= entry.occurrence.ovalue %>', 'Date': '<%= entry.edate %>', 'Expiration': '<%= entry.edate + 180.days %>', 'Description': '<%= entry.edesc.gsub(/\R+/, " ").truncate(10) %>', '':'<%= link_to theme_icon_tag("eye"), entry, "data-toggle": "tooltip", title: "Show", class: "btn btn-link p-1"%> <%= link_to theme_icon_tag("pencil-alt"), edit_entry_path(entry), "data-toggle": "tooltip", title: "Edit", class: "btn btn-link p-1" %> <%= link_to theme_icon_tag("trash"), entry, "data-toggle": "tooltip", title: "Delete", data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link p-1" %>'},<% else %><% end %><% end -%>]
  ).draw();
t.buttons().container()
    .appendTo( $('.col-sm-6:eq(0)', t.table().container() ) );
$('#dtDateStart').change( function() { t.draw(); } );
$('#dtDateEnd').change( function() { t.draw(); } );

$('#dtDepartmentSearch').on( 'change', function () {
  t.columns( 1 )
    .search( this.value )
    .draw();
  });
$('#dtOccurrenceSearch').on( 'change', function () {
  t.columns( 2 )
    .search( this.value )
    .draw();
});
$('#dtAgentSearch').on( 'change', function () {
  t.columns( 0 )
    .search( this.value )
    .draw();
  });
});

$.fn.dataTableExt.afnFiltering.push(
    function( oSettings, aData, iDataIndex ) {
            if ($('#dtDateStart').val() == "") {
                var iFini = "2014-01-01"
            } else {
                var iFini = document.getElementById('dtDateStart').value;
            }
            if ($('#dtDateEnd').val() == "") {
                var iFfin = "2019-08-06";
            } else {
                var iFfin = document.getElementById('dtDateEnd').value;
            }
            
            var iStartDateCol = 4;
            var iEndDateCol = 4;
            
            iFini=iFini.substring(0,4) + "-" + iFini.substring(5,7) + "-" + iFini.substring(8,10);
            iFfin=iFfin.substring(0,4)+ "-" + iFfin.substring(5,7) + "-" + iFfin.substring(8,10);
     
            var datofini=aData[iStartDateCol].substring(0,4) + "-" + aData[iStartDateCol].substring(5,7) + "-" + aData[iStartDateCol].substring(8,10);
            var datoffin=aData[iStartDateCol].substring(0,4)+ "-" + aData[iStartDateCol].substring(5,7) + "-" + aData[iStartDateCol].substring(8,10);
            console.log(iFini + " " + iFfin)
            if ( iFini === "" && iFfin === "" )
            {
                return true;
            }
            else if ( iFini <= datofini && iFfin === "")
            {
                return true;
            }
            else if ( iFfin >= datoffin && iFini === "")
            {
                return true;
            }
            else if (iFini <= datofini && iFfin >= datoffin)
            {
                return true;
            }
            return false;
        
    }
);

  </script>
<!-- <script src="https://js.pusher.com/4.4/pusher.min.js"></script> -->
<div id="modal-calendar">
</div>
<div id="modal-agent_list">
</div>
    <!-- <i class="fa fa-calendar"></i> Calendar -->
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="card card-sheet sheet-condensed">
              <div class="table-responsive">
                <table class="table table-striped table-hover table-sm-responsive" id="entryTable">
                  <thead>
                    <tr>
                                            <th>AGENT</th>
                                            <th>DEPARTMENT</th>
                                            <th>OCCURRENCE</th>
                                            <th>VALUE</th>
                                            <th>DATE</th>
                                            <th>EXP</th>
                                            <th>DESC</th>
                                            <th><!-- Action Button Column --></th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>

                </table>
              </div>
            </div>
          </div>    
          <div class="col-md-2">
            <ul class="nav nav-stacked nav-caret-left card small pb-2  ">
              <li>
                <h6 class="mt-3 ml-3">Additional Actions</h6>
              </li>
              <li class="nav-item active">
                <%= link_to entries_calendar_path, :class => "nav-link font-weight-bold", :remote => true, "data-toggle" => "modal", "data-target" => "#modal-window" do %>
                <%= fa_icon_tag "calendar" %> Calendar
                <% end %>
              </li>
              <li class="nav-item p-1">
                <label class="font-weight-bold">Start:</label>
                <input class="form-control form-control-sm text-dark" type="date" id="dtDateStart">
              </li>
              <li class="nav-item p-1">
                <label class="font-weight-bold">End:</label>
                <input class="form-control form-control-sm text-dark" type="date" id="dtDateEnd">
              </li>
              <li class="nav-item p-1">
                <label class="font-weight-bold">Department:</label>
                <%= select_tag('Department Filter', options_from_collection_for_select(Department.all, 'name', 'name'), prompt: "All", class: 'form-control form-control-sm custom-select text-dark', id: 'dtDepartmentSearch') %>
              </li>
              <li class="nav-item p-1">
                <label class="font-weight-bold">Agent:</label>
                <%= select_tag('Agent Filter', options_from_collection_for_select(User.order(:first_name), 'full_name', 'full_name'), prompt: "All", class: 'form-control form-control-sm custom-select text-dark', id: 'dtAgentSearch') %>
              </li>
              <li class="nav-item p-1">
                <label class="font-weight-bold">Occurrence:</label>
                <%= select_tag('Occurrence Filter', options_from_collection_for_select(Occurrence.order(:name), 'name', 'name'), prompt: "All", class: 'form-control form-control-sm custom-select text-dark', id: 'dtOccurrenceSearch') %>
              </li>
              <li class="nav-item p-1" id="buttons">

              </li>
            </ul>
          </div>
        </div>
      </div>
      <script>
        var t = document.getElementById('entryTable');
        $('#dtCsvExport').on('click', function() {
          t.buttons.exportData({
            modifier: {
                selected: true
            }
          });
        });
      </script>
<%#= javascript_include_tag("https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js") %>
