<% @title = "Listing Incentives" %>
<% content_for :description do %>

  <% end %>
<%= stylesheet_link_tag "pagination.css" %>
<script>
$(document).ready(function(){
  var table = $('#incentivetable').dataTable({ 
        "pageLength": 15,
        select: true,
        ajax: {
        url: 'incentives/incentive_breakdown',
        "processing": true,
        dataSrc: ''
        },
        columns: [ 
              { data: 'User'}, 
              { data: 'Occurrences' }, 
              { data: 'Uph' },
              { data: 'Errors' },
              { data: 'Occupancy' },
              { data: 'Turntime' },
              { data: 'Contracts' },
              { data: 'AHT' },
              { data: 'Date' },
              { data: '' } 
            ],
        "order": [[ 8, "desc" ]],
        columnDefs: [ {
            targets: 0,
            render: function ( data, type, row ) {
                return data.length > 10 ?
                    data.substr( 0, 10 ) +'…' :
                    data;
            }
        } ]
          });
});
</script>

  <% content_for :actions do %>
    <%= link_to new_incentive_path, class: 'btn btn-primary btn-large pull-right ml-2 font-weight-bold text-uppercase' do %>
      <%= fa_icon_tag "plus" %> Add Incentive
      <% end %>
    <%= link_to incentives_dashboard_path, class: 'btn btn-primary btn-large pull-right font-weight-bold text-uppercase' do %>
      Dashboard
      <% end %>
      <% end %>
      <%= @errors %>


  <div class="container pt-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="card  p-2">
          <h5 class="pb-2 text-center">  Please note, to speed up the server response we will only be displaying the previous 800. If you need anything farther out, please contact the Agent Portal administrator. </h5>
          <div class="table-responsive">
            <table class="table table-striped table-hover" id="incentivetable">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Occurrences</th>
                  <th>Uph</th>
                  <th>Errors</th>
                  <th>Occupancy</th>
                  <th>Turntime</th>
                  <th>Contracts</th>
                  <th>AHT</th>
                  <th>Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="text-center">
                <% if @incentives.length == 0 %>
                  <tr><td colspan=42 class='text-center'>No incentives.</td></tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div>
            <div class="custom-file px-2 py-2 mb-2">
              <%= form_tag import_incentives_path, multipart: true do %>
                <div class="form-row">
                  <div class="col-11">
                    <%= file_field_tag :file, class: 'custom-file-input font-weight-bold' %>
                    <label class="custom-file-label" for="customFile">Choose file to import</label>
                  </div>
                  <div class="col-1">
                    <%= submit_tag "IMPORT", class: 'btn btn-primary font-weight-bold' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>                
      </div>
    </div>
  </div>
