<% @title = "Listing incentives" %>

<script>
$(document).ready(function(){
  var table = $('#incentivetable').dataTable();
});
</script>

  <% content_for :actions do %>
    <%= link_to new_incentive_path, class: 'btn btn-primary btn-large pull-right' do %>
      <%= fa_icon_tag "plus" %> Add Incentive
      <% end %>
      <% end %>
      <%= @errors %>


      <div class="container pt-5">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="card  p-2">
              <table class="table table-striped table-hover" id="incentivetable">
                <thead>
                  <tr>
                                          <th>User</th>
                                          <th>Occurrences</th>
                                          <th>Uph</th>
                                          <th>Errors</th>
                                          <th>Occupancy</th>
                                          <th>Turntime</th>
                                          <th>Contracts</th>
                                          <th>AHT</th>
                                          <th>Date</th>
                                        <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @incentives.each do |incentive| %>
                  <tr>
                                          <td><%= incentive.user.full_name %></td>
                                          <td><%= incentive.user.agent.entries.effective.joins(:occurrence).sum(:ovalue) %></td>
                                          <td><%= incentive.uph %></td>
                                          <td><%= ErrLog.joins(:err_status, :err_name).includes(:err_status, :err_name).where('user_id = ?', incentive.user_id).select(:err_names).where('err_names.errname = ?', 'Improvement Opportunity').where(errdate: incentive.date).count %></td>
                                          <td><%= incentive.occupancy %></td>
                                          <td><%= incentive.turntime %></td>
                                          <td><%= incentive.contracts %></td>
                                          <td><%= incentive.aht %></td>
                                          <td><%= incentive.date %></td>
                                        <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), incentive, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("pencil-alt"), edit_incentive_path(incentive), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("trash"), incentive, 'data-toggle': 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' %>
                      </div>
                      </td>
                    </tr>
                    <% end %>
                    <% if @incentives.length == 0 %>
                    <tr><td colspan=42 class='text-center'>No incentives.</td></tr>
                    <% end %>
                    </tbody>
                  </table>
                  <div>
                    <%= form_tag import_incentives_path, multipart: true do %>
                      <%= file_field_tag :file %>
                      <%= submit_tag "IMPORT" %>
                    <% end %>
                  </div>
                </div>

                                  <%# Remove the trailing if condition if you're using pagination. %>
                
                              </div>

            </div>
          </div>
