<% @title = "Showing agent_stat" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/AgentStats/show.html.erb</code>.</p>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Extension</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.extension %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Name</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.name %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Date</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.date %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Shift</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.shift %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Total login</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.total_login %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Total break</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.total_break %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Net login</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.net_login %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Requested worktime</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.requested_worktime %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Availability</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.availability %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Occupancy</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.occupancy %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Queue calls</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.queue_calls %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Queue talk</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.queue_talk %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Direct calls</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.direct_calls %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Direct talk</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.direct_talk %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Outbound calls</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.outbound_calls %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Outbound talk</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.outbound_talk %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Callback calls</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.callback_calls %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Callback talk</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.callback_talk %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Deleted</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.deleted %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Un ans</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.un_ans %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Picked</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.picked %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Recover</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.recover %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Power dial</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.power_dial %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Acw</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.acw %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Wrapup time</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.wrapup_time %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Total calls</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.total_calls %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Total talk</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.total_talk %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Aht</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent_stat.aht %>
                  </span>
                </div>
              </div>

                        <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_agent_stat_path(@agent_stat), class: 'btn btn-primary' %>
                <%= link_to 'Back', agent_stats_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="sidebar" class="col-md-3">
      <ul class="nav nav-stacked nav-caret-left bg-gray-200 card small pb-2">
        <li><h6 class="mt-3 ml-3">Sub Menu</h6></li>
        <li class="nav-item">
        <a class="nav-link" href="#">Vacation Days</a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Salaries</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Disciplinary Items</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Firings</a>
        </li>
      </ul>
    </div>
  </div>
</div>
