<%= form_for(@err_log, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

    <%= f.form_group :dispute, class: 'row' do |f| %>
      <%= f.label 'Description', class: 'control-label col-md-3' %>
      <div class='col-12 col-md-9'>
        <%= f.text_area :dispute, class: 'form-control form-control-sm' %>
        <%= f.error_messages %>
      </div>
    <% end %>



<%= f.hidden_field :err_status_id, value: '4' %>



  </div>

  <div class="d-flex">
    <div class="ml-auto">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Cancel", class: 'btn btn-outline-default', 'data-dismiss': 'modal' %>
    </div>
  </div>
<% end %>

