<style>
.dt-collapse {
  height: 400px;
  transition: height 0.5s;
}

.dt-expand {
  height: 800px;
  transition: height 0.5s;
}

table.dataTable td.details-control:before {
   content: '\f0fe';
   font-family: 'FontAwesome';
   cursor: pointer;
   font-size: 22px;
   color: black;

}
table.dataTable tr.shown td.details-control:before {
  content: '\f146';
  color: black;
  height:750px;
  transition: height 5s;
}
table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

</style>

<script>
$(document).ready(function() {
    var table = $('#error_index_pending').DataTable( {
        "columns": [
            {
                "className":      "details-control",
                "orderable":      false,
                "data":           null,
                "defaultContent": ""
            },
            { "data": "ID" },
            { "data": "Agent" },
            { "data": "Department" },
            { "data": "Date" },
            { "data": "Status" }
        ],
        "order": [[3, 'asc'],[2, 'asc']]
    } );
    
    table.rows.add([<% @err_logs.each do |err_log| %><% @improvement_id = err_log.id %>{'': '', 'ID': '<%= err_log.id %>', 'Agent': '<%= err_log.user.full_name %>', 'Department': '<%= err_log.department.name %>', 'Date':'<%= err_log.errdate.strftime('%m/%d/%Y') %>', 'Status':'<%= err_log.err_status.statusname %>'},<% else %><% end %>]).draw();

    // Add event listener for opening and closing details
    $('#error_index_pending tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
            $('#pending-card').removeClass('dt-expand');
            $('#pending-card').addClass('dt-collapse');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
            $('#pending-card').removeClass('dt-collapse');
            $('#pending-card').addClass('dt-expand');
        }
    });
function format() {
    <% @err_log = ErrLog.find(@improvement_id) %>
    // `d` is the original data object for the row
    return '<div class="m-2" id="dropdown-form"><%= form_for(@err_log, html: { class: "form" }) do |f| %><%= f.error_notification %><%= f.form_group :user_id, class: "row" do |f| %><%= f.label "ID", class: "control-label col-md-4" -%><div class="col-8 col-md-8"><%= f.text_field :user_id, class: "form-control form-control-sm text-dark" %><%= f.error_messages -%></div><% end %><%= f.form_group :department_id, class: "row" do |f| %><%= f.label "Department", class: "control-label col-md-4" -%><div class="col-8 col-md-8"><%= f.text_field :department_id, class: "form-control form-control-sm text-dark" %><%= f.error_messages -%></div><% end %><div class="form-inputs"><%= f.form_group :serviceorder, class: "row" do |f| %><%= f.label "Service Order", class: "control-label col-md-4" %><div class="col-8 col-md-8"><%= f.text_field :serviceorder, class: "form-control form-control-sm text-dark"%><%= f.error_messages %></div><% end %><%= f.form_group :errdate, class: "row" do |f| %><%= f.label "Improvement Date", class: "control-label col-md-4" %><div class="col-8 col-md-8"><%= f.date_field :errdate, class: "form-control form-control-sm text-dark" %><%= f.error_messages %></div><% end %><%= f.form_group :errdesc, class: "row" do |f| %><%= f.label "Description", class: "control-label col-md-4" %><div class="col-8 col-md-8"><%= f.text_field :errdesc, class: "form-control form-control-sm text-dark" %><%= f.error_messages %></div><% end %><%= f.form_group :err_cost, class: "row" do |f| %><%= f.label "Improvement Cost", class: "control-label col-md-4" %><div class="col-8 col-md-8"><%= f.number_field :err_cost, class: "form-control form-control-sm text-dark", "value": "0.00", step: :any %><%= f.error_messages %></div><% end %><%= f.form_group :err_type_id, class: "row" do |f| %>\n<%= f.label "Type", class: "control-label col-md-4" %><div class="col-8 col-md-8"><%= j(f.collection_select(:err_type_id, ErrType.order(:description), :id, :description, {}, {:class=>"form-control form-control-sm text-dark"}))  %><%= f.error_messages %></div><% end %><%= f.form_group :err_name_id, class: "row" do |f| %>\n<%= f.label "Disposition", class: "control-label col-md-4" %><div class="col-8 col-md-8"><%= j(f.collection_select(:err_name_id, ErrName.order(:id), :id, :errname, {}, {:class=>"form-control form-control-sm text-dark"}))  %><%= f.error_messages %></div><% end %><%= f.hidden_field :err_name_id, value: "3" %><%= f.hidden_field :err_status_id, value: "1" %><%= f.hidden_field :errsubmitby, value: current_user.full_name %></div><div class="d-flex"><div class="ml-auto"><%= f.submit "SUBMIT", class: "font-weight-bold mt-3 mr-2 btn btn-primary" %></div></div><% end %></div>';
  }
});



</script>


      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card dt-collapse" id="pending-card">
              <div class="card-body">
                <h5 class="text-uppercase m-auto font-weight-bold">PENDING IMPROVEMENT LOGS</h5>
                <div class="table-responsive">
                  <table id="error_index_pending" class="table table-striped table-hover display" style="width:100%">
                    <thead>
                    <tr>
                      <th></th>
                      <th>ID</th>
                      <th>Agent</th>
                      <th>Department</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                    </thead>

                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

<script>


  $(document).ready(function() {
    var table = $('#error_index_all').DataTable();
    table.draw();
  });
</script>

        <div class="row">
          <div class="col-md-12">
            <div class="card p-3">
              <div class="table-responsive">
                <table class="table table-striped table-hover" id="error_index_all">
                  <thead>
                    <tr>
                                            <th>User</th>
                                            <th>Department</th>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Submitted</th>
                                          <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @allerrors.each do |err_log| %>
                    <tr>
                                            <td><%= err_log.user.full_name %></td>
                                            <td><%= err_log.department.name %></td>
                                            <td><%= err_log.errdate.strftime('%m/%d/%Y') %></td>
                                            <td><%= err_log.err_name.errname.truncate(10) %></td>
                                            <td><%= err_log.errdesc.truncate(10) %></td>
                                            <td><%= err_log.err_status.statusname %></td>
                                            <td><%= err_log.errsubmitby %></td>
                                          <td class="actions text-right">
                        <div class="btn-group">
                          <%= link_to theme_icon_tag("eye"), err_log, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                          <%= link_to theme_icon_tag("pencil-alt"), edit_err_log_path(err_log), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" %>
                          <%= link_to theme_icon_tag("trash"), err_log, 'data-toggle': 'tooltip', title: 'Delete',
                          data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' %>
                        </div>
                        </td>
                      </tr>
                      <% end %>
                      <% if @err_logs.length == 0 %>
                      <tr><td colspan=42 class='text-center'>No err_logs.</td></tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
<div id="buttons"></div>