<%= stylesheet_link_tag "pagination.css" %>
<style>
.dt-collapse {
  height: 400px;
  transition: height 0.5s;
}

.dt-expand {
  height: 100%;
  transition: height 0.5s;
}

table.dataTable td.details-control:before {
   content: '\f0fe';
   font-family: 'FontAwesome';
   cursor: pointer;
   font-size: 22px;
   color: black;

}
table.dataTable tr.shown td.details-control:before {
  content: '\f146';
  color: black;
  height:750px;
  transition: height 5s;
}
table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

</style>

<!-- <script>
$(document).ready(function() {
    var table = $('#error_index_pending').DataTable( {
        "pageLength": 10,
        select: true
        // // ajax: {
        // // url: 'err_log_breakdown',
        // // "processing": true,
        // // dataSrc: ''
        // // },
        // // "columns": [
        // //     {
        // //         "className":      "details-control",
        // //         "orderable":      false,
        // //         "data":           null,
        // //         "defaultContent": ""
        // //     },
        // //     { "data": "ID" },
        // //     { "data": "Agent" },
        // //     { "data": "Department" },
        // //     { "data": "Date" },
        // //     { "data": "Status" }
        // // ],
        // "order": [[3, 'asc'],[2, 'asc']]
    } );
    t.draw();
    // table.rows.add([<% @err_logs.each do |err_log| %><% @improvement_id = err_log.id %>{'': '', 'ID': '<%= err_log.id %>', 'Agent': '<%= err_log.user.full_name %>', 'Department': '<%= err_log.department.name %>', 'Date':'<%= err_log.errdate.strftime('%m/%d/%Y') %>', 'Status':'<%= err_log.err_status.statusname %>'},<% else %><% end %>]).draw();

    // Add event listener for opening and closing details
    // $('#error_index_pending tbody').on('click', 'td.details-control', function () {
    //     var tr = $(this).closest('tr');
    //     var row = table.row( tr );

    //     if ( row.child.isShown() ) {
    //         // This row is already open - close it
    //         row.child.hide();
    //         tr.removeClass('shown');
    //         $('#pending-card').removeClass('dt-expand');
    //         $('#pending-card').addClass('dt-collapse');
    //     }
    //     else {
    //       var rowData = row.data();
    //       var tmp = null;
    //       $.ajax({
    //           'type': "GET",
    //           'dataType': 'json',
    //           'url': rowData.ID + "/edit",
    //           'data': { 'request': "", 'target': 'arrange_url', 'method': 'method_target' },
    //           'success': function (data) {
    //               tmp = data;
    //               console.log(tmp)
    //               row.child( format(row.data()) ).show();
    //               tr.addClass('shown');
    //               return tmp;
    //           }
    //       });
    //       function format(rowData) {
    //         <%# @err_log = ErrLog.find(@improvement_id) %>
    //         // `d` is the original data object for the row
    //         console.log(rowData);
    //         return  '<div class="m-2" id="dropdown-form">'+
    //                   '<form class="form">'+
    //                     '<label class="font-weight-bold text-uppercase control-label col-md-3">User ID: </label>'+
    //                     '<input type="text" name="err_log[user_id]" id="err_log_user_id" class="form-control form-control-sm text-dark" value="'+ tmp.user_id +'">'+
    //                     '<label class="font-weight-bold text-uppercase control-label col-md-3">Department ID: </label>'+
    //                     '<input type="text" name="err_log[department_id]" id="err_log_department_id" class="form-control form-control-sm text-dark" value="'+ tmp.department_id +'">'+
    //                     '<label class="font-weight-bold text-uppercase control-label col-md-3">Service Order: </label>'+
    //                     '<input type="text" name="err_log[serviceorder]" id="err_log_serviceorder" class="form-control form-control-sm text-dark" value="'+ tmp.serviceorder +'">'+
    //                     '<label class="font-weight-bold text-uppercase control-label col-md-3">Date: </label>'+
    //                     '<input type="text" name="err_log[errdate]" id="err_log_errdate" class="form-control form-control-sm text-dark" value="'+ tmp.errdate +'">'+
    //                     '<label class="font-weight-bold text-uppercase control-label col-md-3">Cost: </label>'+
    //                     '<input type="text" name="err_log[err_cost]" id="err_log_err_cost" class="form-control form-control-sm text-dark" value="'+ tmp.err_cost +'">'+
    //                     '<input type="text" name="err_log[err_name_id]" id="err_log_err_name_id" class="form-control form-control-sm text-dark" value="'+ tmp.err_name_id +'" hidden>'+
    //                     '<input type="text" name="err_log[err_status_id]" id="err_log_err_status_id" class="form-control form-control-sm text-dark" value="'+ tmp.err_status_id +'" hidden>'+
    //                     '<input type="text" name="err_log[errsubmitby]" id="err_log_errsubmitby" class="form-control form-control-sm text-dark" value="'+ tmp.errsubmitby +'" hidden>'+
    //                     '<button type="submit" class="btn btn-sm btn-primary font-weight-bold">SUBMIT</button>'+
    //                   '</form>'+
    //                 '</div>';
    //       }
    //       // $.get((rowData.ID + "/edit"), function(data){
    //       //   console.log(data)
    //       //   row.child( format(row.data()) ).show();
    //       //   tr.addClass('shown');
    //       //  })
    //         // Open this row
            
    //         $('#pending-card').removeClass('dt-collapse');
    //         $('#pending-card').addClass('dt-expand');
    //     }
    // });

});



</script> -->
<script>
$(document).ready(function(){
  $('#error_index_pending').DataTable({
    'order': [[3, 'desc'], [4, 'desc']]
  })

});

function expandEdit(){
  $('#pending-card').removeClass('dt-collapse');
  $('#pending-card').addClass('dt-expand');
}
</script>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card dt-collapse" id="pending-card">
        <div class="card-body">
          <h5 class="text-uppercase m-auto font-weight-bold text-center border-bottom pb-2">PENDING IMPROVEMENT LOGS</h5>
          <div class="table-responsive">
            <table id="error_index_pending" class="table table-striped table-hover display" style="width:100%">
              <thead>
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Agent</th>
                  <th>Department</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% @err_logs.each do |err_log| %>
                  <tr>
                    <td>
                      <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#tableCollapse" aria-expanded="false" aria-controls="tableCollapse" onclick="expandEdit()">
                        <%= fa_icon_tag('plus') %>
                      </button></td>
                    <td><%= err_log.id %></td>
                    <td><%= err_log.user.full_name %></td>
                    <td><%= err_log.user.department.name %></td>
                    <td><%= err_log.errdate %></td>
                    <td><%= err_log.err_status.statusname %></td>
                    <div class="collapse" id="tableCollapse">
                      <div class="card card-body">
                        <%= render partial: "form_table", locals: { err_log: err_log } %>
                        </td>
                      </div>
                    </div>
                  </tr>
                <% end %>
                <% if @err_logs.length == 0 %>
                  <tr><td colspan=42 class='text-center'>No err_logs.</td></tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function() {
    var table = $('#error_index_all').DataTable();
    table.draw();
  });
</script>

  <div class="row">
    <div class="col-md-12">
      <div class="card p-3">
        <div class="table-responsive">
          <table class="table table-striped table-hover" id="error_index_all">
            <thead>
              <tr>
                <th>User</th>
                <th>Department</th>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Status</th>
                <th>Submitted</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @allerrors.each do |err_log| %>
              <tr>
                <td><%= err_log.user.full_name %></td>
                <td><%= err_log.department.name %></td>
                <td><%= err_log.errdate.strftime('%m/%d/%Y') %></td>
                <td><%= err_log.err_name.errname.truncate(10) %></td>
                <td><%= err_log.errdesc.truncate(10) %></td>
                <td><%= err_log.err_status.statusname %></td>
                <td><%= err_log.errsubmitby %></td>
                <td class="actions text-right">
                  <div class="btn-group">
                    <%= link_to theme_icon_tag("eye"), err_log, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                    <%= link_to theme_icon_tag("pencil-alt"), edit_err_log_path(err_log), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" %>
                    <%= link_to theme_icon_tag("trash"), err_log, 'data-toggle': 'tooltip', title: 'Delete',
                    data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' %>
                  </div>
                </td>
              </tr>
            <% end %>
            <% if @err_logs.length == 0 %>
              <tr><td colspan=42 class='text-center'>No err_logs.</td></tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="buttons"></div>