<%= stylesheet_link_tag "pagination.css" %>
<% content_for :no_page_header, true %>
<% content_for :js_libs, "modernizr gmaps flot chartjs demo-dashboard demo-chartjs demo-sparklines" %>

<style>
.morning-message {
  font-size: 5em;
}

.modal-backdrop
{
    opacity: 1 !important;
}
table tbody tr:hover {
  color:black;
}
</style>

<body>
<!-- COOKIE MODAL BELOW (FUNCTIONING). CAN BE USED FOR INSTRUCTIONS OR TO GIVE A WEEKLY BREAKDOWN -->
<script>
$(document).ready(function() {
    if (Cookies.get('morning_modal') == null) {
        Cookies.set('morning_modal', 'yes', { expires: 1, path: '/' });
        $('#morningModal').modal('show');
    }
});
</script>
<div class="modal fade" id="morningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content bg-primary rounded p-1">
      <div class="rounded border-light" style="height:100%;width:100%;border-radius: 5px;border-style: solid;">
        <span class="font-weight-bold text-light text-uppercase morning-message"><center>WELCOME, <%= current_user.first_name %>!</center></span><br>
        <div class="row justify-content-center p-3">
          <table class="table table-hover bg-transparent text-white font-weight-bold">
            <thead>
              <tr>
                <th></th>
                <th><center>QUANTITY</center></th>
                <th><center>NEXT EXPIRATION</center></th>
                <th><center>DROPOFF VALUE</center></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Occurrences</td>
                <td><center><%= @user_entry_total_effective %></center></td>
                <td><center><% if @user_entry_total_effective > 0 %><%= (@user_entry.reverse.first.edate + 180.days) %><% else %>NONE<% end %></center></td>
                <td><center><% if @user_entry_total_effective > 0 %><%= @user_entry.reverse.first.occurrence.ovalue %><% else %>NONE<% end %></center></td>
              </tr>
              <tr>
                <td>Progressive Actions</td>
                <td><center><%= @user_writeup_written %></center></td>
                <td><center><% if @user_writeup_written > 0 %><% if @user_writeup_written == 1 %><%= (@user_dap_written.map {|d| d.ddate + 90.days}.first) %><% else %><%= (@user_dap_written.reverse.first.ddate + 90.days) %><% end %><% else %>NONE<% end %></center></td>
                <td><center></center></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-light font-weight-bold text-primary" style="position:absolute;top:5px !important;right:5px !important" data-dismiss="modal"><%= fa_icon_tag("times") %></button>
        <span class="font-weight-bold text-white" style="position:absolute;bottom:0px !important;right:5px !important"><%= Time.now %></span>
    </div>
  </div>
</div></div>
<!-- /END OF COOKIE MODAL -->

<section class="px-3 pt-5 pb-3 mb-3 d-flex flex-column" style="background-color: #eeeeee !important">
  <div class="container-fluid">
    <div class="row equal-cols">

<div class="col-12 col-md-3 d-flex flex-column justify-items-between animate-fade-in-1000">

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted"><u>Active Occurrences</u></h6>
                <h4 class="m-0"><%= @user_entry_total_effective %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-hashtag "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted"><u>Total Active Tardies</u></h6>
                <h4 class="m-0"><%= @user_entry_tardy_effective %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-clock-o "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted"><u>Total Active Absences</u></h6>
                <h4 class="m-0"><%= @user_entry_absent_effective %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-table "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted"><u>Active Prog Actions</u></h6>
                <h4 class="m-0"><%= @user_writeup_written %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="material-icons ">receipt</i>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-12 col-md-9">
        <div class="card" style="background-color: #ffffff !important">
                <div class="card-header d-flex align-items-center">
        <h6 class="mr-auto">Agent Stats</h6>
        <div class="d-flex">
          <div class="dropdown">
            <button class="nav-link btn btn-icon " type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= theme_icon_tag "more" %>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-badgeledby="salesAndRefundButton" id="chart-selector">
              <button class="dropdown-item" id="userChartEffective">Occurrences Active</button>
              <button class="dropdown-item" id="userChartTotal">Occurrences All Time</button>
            </div>
          </div>
        </div>
      </div>
          <div class="card-body">
            <canvas id="statChart" width="200" height="100"></canvas>

          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
<!--         <h4 class="leading-normal m-0 p-0">Hello, <%= current_user.first_name %></h4>
        <p class="leading-normal small">Important information regarding the occurrence system:</p>
        <ul class="m-0 p-0 mb-5 small">
          <li>If your total occurrences meet the following guidelines within 180 days:</li>
            <ul><br />
              <li><b>Verbal Warning</b> - If employee gets <u>3.0 or more</u> occurrences will receive verbal warning. The warning will remain in effect for <u>90 days</u>. If employee receives <u>1.0 or more</u> occurrences during this period, progress to next.</li>
              <li><b>Written Warning</b> - Issued for receiving <u>1.0 or more</u> occurrences during verbal warning and last for <u>90 days</u>. If agent receives an additional <u>1.0 or more</u> occurrences, progress to next.</li>
              <li><b>Final Written Warning</b> - Received for <u>1.0 or more</u> occurrences during <u>90 day written warning</u>. If agent receives <u>1.0 or more</u> occurrences during this <u>90 day period</u> their employment <u>will be terminated</u>.</li>
            </ul>  
        </ul> -->
      </div>

      
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col-9 hidepane">
      <div class="row">
        <div class="col-12">
          <!-- OCCURRENCE TABLE -->
          <div class="card inspectable">
            <div class="card-header d-flex align-items-center">
              <h6>List of Occurrences</h6>   
            </div>
            <div class="table-responsive" >
              <table class="table table-hover table-striped" id="userEntryTable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Expires</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </thead>
                <% @user_entry.each do |entry| %>
                  <tr>
                    <td><%= entry.agent.user.full_name %></td>
                    <td><%= entry.occurrence.name.truncate(15) %></td>
                    <td><%= entry.edate %></td>
                    <td><%= entry.edate + 180.days %></td>
                    <td><%= entry.edesc.truncate(15) %></td>
                    <td class="actions text-right">
                          <div class="btn-group">
                            <%#= link_to theme_icon_tag("eye"), entry, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                          </div>
                          </td>
                  </tr>
                <% end %>
                <% if @user_entry.length == 0 %>
                    <tr><td colspan=42 class='text-center'>-- NO ACTIVE OCCURRENCES --</td></tr>
                <% end %>
              </table>
              <center><%= will_paginate @user_entry %></center>
            </div>
          </div>
          <!-- /OCCURRENCE TABLE -->
        </div>
      </div>

      
      <div class="row">
        <div class="col-12">
          <!-- DAP TABLE -->
          <div class="card inspectable">      
            <div class="card-header d-flex align-items-center">
              <h6>List of Progressive Actions</h6>   
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-striped" id="userDapTable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Expires</th>
                    <th>Description</th>
                    <th></th>
                  </tr>
                </thead>
                <% @user_dap.each do |dap| %>
                  <tr>
                    <td><%= dap.user.full_name %></td>
                    <td><%= dap.writeup.name %></td>
                    <td><%= dap.ddate %></td>
                    <td><%= dap.ddate + 90.days %></td>
                    <td><%= dap.description %></td>
                    <td class="actions text-right">
                          <div class="btn-group">
                            <%#= link_to theme_icon_tag("eye"), dap, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                          </div>
                          </td>
                  </tr>
                <% end %>
                <% if @user_dap.length == 0 %>
                    <tr><td colspan=42 class='text-center'>-- NO ACTIVE PROGRESSIVE ACTIONS --</td></tr>
                <% end %>
              </table>
              
            </div>
            <center><%= will_paginate @user_dap %></center>
          </div>
          <!-- /DAP TABLE -->
        </div>
      </div>
    </div>
    <div class="col-3 hidepane">
      <!-- RECENT ACTIVITY TABLE -->
      <div class="card inspectable">
        <!-- component-title: Timeline Card -->
        <div class="card-header">
          <h6>RECENT ACTIVITY</h6>
        </div>
        <div class="card-body">
          <div class="timeline" style="height: 450px">
            <ul class="left-timeline">
              <% @user_entry.each do |entry| %>
                <li class="timeline-item">
                  <time class=''>
                    <strong>
                      <%= entry.occurrence.name %>
                    </strong>
                  </time>
                  <div class="activity-text">
                    <strong><%= entry.edate %></strong>
                    <small class="text-muted"><%= entry.agent.department.name %></small>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <!-- /RECENT ACTIVITY TABLE-->
    </div>
  </div>
</div>
            <script>
            var chart_labels = <%= raw @agent_chart_labels_effective %>;
            var chart_data = <%= raw @agent_chart_data_effective %>;
            var dataset_label = "Effective";
            var chart_type = 'bar';
            var ctx = document.getElementById("statChart").getContext('2d');
            var config = {
                type: 'bar',
                data: {
                    labels: chart_labels,
                    datasets: [{
                        label: dataset_label,
                        data: chart_data,
                        backgroundColor: '#8e8e8e',
                        borderColor: '#373737',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                stepSize: 1
                            }
                        }]
                    }
                }
            };
            var stat_chart = new Chart(ctx, config);
            $("#userChartEffective").click(function() {
                var chart_labels = <%= raw @agent_chart_labels_effective %>;
                var chart_data = <%= raw @agent_chart_data_effective %>;
                var dataset_label = "Effective";
                var data = stat_chart.config.data;
                data.datasets[0].data = chart_data;
                data.labels = chart_labels;
                data.datasets[0].label = dataset_label;
                stat_chart.update();
            });
            $("#userChartTotal").click(function() {
                var chart_labels = <%= raw @agent_chart_labels_total %>;
                var chart_data = <%= raw @agent_chart_data_total %>;
                var dataset_label = "Total";
                var data = stat_chart.config.data;
                data.datasets[0].data = chart_data;
                data.labels = chart_labels;
                data.datasets[0].label = dataset_label;
                stat_chart.update();
            });
            </script>
</body>