  <script>



$(document).ready(function(t){
// ENTRIES TABLE
var t = $('#userEntryTable').DataTable({ 
        "pageLength": 5,
        select: true,
        columns: [ 
              { data: 'Name' }, 
              { data: 'Type' },
              { data: 'Date' }, 
              { data: 'Expires' },
              { data: 'Description' },
              { data: '' } 
            ]
          });
  t.draw();



t.rows.add(
  [<% @user_entry.each do |entry| %>{'Name': '<%= entry.agent.user.full_name %>', 'Type': '<%= entry.occurrence.name.truncate(15) %>', 'Date':'<%= entry.edate %>', 'Expires':'<%= entry.edate + 90.days %>', 'Description':'<%= entry.edesc.truncate(15) %>', '':''},<% else %><% end %>]
  ).draw();

// ERROR TABLE
var t = $('#userErrorTable').DataTable({ 
        "pageLength": 5,
        select: true,
        columns: [ 
              { data: 'Date' }, 
              { data: 'SO' },
              { data: 'Cost' }, 
              { data: 'Type' },
              { data: 'Description' },
              { data: 'Status' },
              { data: '' }
            ]
          });
  t.draw();



t.rows.add(
  [<% @err_logs.each do |err_log| %>{'Date': '<%= err_log.errdate %>', 'SO': '<%= err_log.serviceorder %>', 'Cost': '<%= err_log.err_cost %>', 'Type': '<%= err_log.err_name.errname %>', 'Description': '<%= err_log.errdesc.truncate(15) %>', 'Status': '<%= err_log.err_status.statusname %>', '': '<center><%= link_to "VIEW", users_modal_path(err_log.id),  {:remote => true, "data-toggle" => "modal", "data-target" => "#modal-error", class: "btn btn-primary btn-sm m-auto font-weight-bold"}%></center>' },<% else %><% end %>]
  ).draw();

// DAPS TABLE
var t = $('#userDapTable').DataTable({ 
        "pageLength": 5,
        select: true,
        columns: [ 
              { data: 'Name' }, 
              { data: 'Type' },
              { data: 'Date' }, 
              { data: 'Expires' },
              { data: 'Description' },
              { data: '' } 
            ]
          });
  t.draw();



t.rows.add(
  [<% @user_dap.each do |dap| %>{'Name': '<%= dap.user.full_name %>', 'Type': '<%= dap.writeup.name %>', 'Date':'<%= dap.ddate %>', 'Expires':'<%= dap.ddate + 90.days %>', 'Description':'<%= dap.description.truncate(15) %>', '':''},<% else %><% end %>]
  ).draw();

});
  </script>



<% content_for :no_page_header, true %>
<% content_for :js_libs, "modernizr gmaps flot chartjs demo-dashboard demo-chartjs demo-sparklines" %>

<style>
html {
  scroll-behavior: smooth;
}

.modal-content:hover {
  opacity: 1 !important;
}

.float:hover {
  box-shadow: 3px 3px 3px 3px lightgrey;
}

.muted {
  opacity: 0.5;
}

table tbody tr:hover {
  color:black;
}

.even-space {
  width: 20%;
}

/* bouncing arrow effec */
.box {
    animation-duration: 2s;
    animation-iteration-count: 10;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}

.bounce-4 {
    animation-name: bounce-4;
    animation-timing-function: ease;
}
@keyframes bounce-4 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(40px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}


/* fade in effect on incentive tracker modal */
.fancy-fade {
  opacity: 0;
  animation: fadeIn 0.5s ease-in both;
}

.fancy-fade-1 {
  opacity: 0;
  animation: fadeIn 0.5s ease-in both;
  animation-delay: 0.5s;
}
.fancy-fade-2 {
  opacity: 0;
  animation: fadeIn 0.5s ease-in both;
  animation-delay: 1s;
}
.fancy-fade-3 {
  opacity: 0;
  animation: fadeIn 0.5s ease-in both;
  animation-delay: 1.5s;
}
.fancy-fade-4 {
  opacity: 0;
  animation: fadeIn 0.5s ease-in both;
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

</style>

<body>
<!-- COOKIE MODAL BELOW (FUNCTIONING). CAN BE USED FOR INSTRUCTIONS OR TO GIVE A WEEKLY BREAKDOWN -->
<script>
$(document).ready(function() {
    // if (Cookies.get('morning_modal') == null) {
    //     Cookies.set('morning_modal', 'yes', { expires: 1, path: '/' });
        $('#morningModal').modal('show');
    // }
    // highlight entry card
    if (<%= @user_entry_total_effective_monthly %> == 0.5) {
      $('#occurrence-card').addClass('bg-warning text-white');
      $('.occurrence-card').addClass('bg-warning text-white');
      $('#occurrence-modal').addClass('bg-warning text-white');
    } else if (<%= @user_entry_total_effective_monthly %> > 0.5) {
      $('#occurrence-card').removeClass('float').addClass('muted');
      $('#occurrence-modal').addClass('bg-danger text-white')
    } else {
      $('#occurrence-card').removeClass('bg-warning text-white')
      $('#occurrence-modal').addClass('bg-success text-white');
    }
    // highlight wu card
    if (<%= @user_writeup_written %> > 0) {
      $('#wu-card').removeClass('float').addClass('muted');
      $('#wu-modal').addClass('bg-danger text-white');
    } else {
      $('#wu-card').removeClass('bg-warning text-white')
      $('#wu-modal').addClass('bg-success text-white');
    }
    // highlight uph card
    if (<%= number_with_precision(@uph, :precision => 1) %> < 6.5) {
      $('#uph-card').addClass('bg-warning text-white');
      $('#uph-modal').addClass('bg-warning text-white');
    } else {
      $('#uph-card').removeClass('bg-warning text-white');
      $('#uph-modal').addClass('bg-success text-white');
    }
    // highlight occ card
    if (<%= number_with_precision(@occ, :precision => 1) %> < 90) {
      $('#occupancy-card').addClass('bg-warning text-white');
      $('#occupancy-modal').addClass('bg-warning text-white');
    } else {
      $('#occupancy-card').removeClass('bg-warning text-white');
      $('#occupancy-modal').addClass('bg-success text-white');
    }
    // highlight err card
    if (<%= @err_logs_count %> > 0) {
      $('#error-card').removeClass('float').addClass('muted');
      $('#error-modal').addClass('bg-danger text-white');
    } else {
      $('#error-card').removeClass('bg-warning text-white');
      $('#error-modal').addClass('bg-success text-white');
    }   
});


</script>
<div class="modal fade" id="morningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content rounded p-1 bg-light">
      <div class="row pl-4 pr-4 pb-1 pt-4">
        <div class="col d-flex align-items-stretch">
          <div class="card fancy-fade" style="width: 12rem;">
            <div class="card-header m-auto" id="occurrence-modal">
              <i style="font-size: 6rem;" class="m-auto pt-4 fa fa-calendar-times-o"></i>
            </div>
            <div class="card-body">
              <center><h6 class="font-weight-bold text-dark text-uppercase">Occurrences</h6></center>
              <p class="card-text"><%if @user_entry_total_effective_monthly == 0.5 %>You are at capacity for occurrences this month with <u><%= @user_entry_total_effective_monthly %></u>. Watch your attendance for the remainder of the month!<% elsif @user_entry_total_effective_monthly > 0.5 %>Unfortunately, you have missed the mark on your attendance this month. Please be sure to work on that for the next month!<% else %>Fantastic job!<% end %></p>
            </div>
          </div>
        </div>
        <div class="col d-flex align-items-stretch">
          <div class="card fancy-fade-1" style="width: 12rem;">
            <div class="card-header m-auto" id="wu-modal">
              <i style="font-size: 6rem;" class="m-auto pt-4 fa fa-wpforms "></i>
            </div>
            <div class="card-body">
              <center><h6 class="font-weight-bold text-dark text-uppercase">PROGRESSIVE LOGS</h6></center>
              <p class="card-text"><% if @user_writeup_written >= 1 %>Unfortunately your progressive action is still active this month. Your last progressive action is due to drop off on <%= (@user_dap.map {|d| d.ddate }.first + 90.days).strftime('%m/%d/%Y') %>.<% else %>Great Job!<% end %></p>
            </div>
          </div>
        </div>
        <div class="col d-flex align-items-stretch">
          <div class="card fancy-fade-2" style="width: 12rem;">
            <div class="card-header m-auto" id="uph-modal">
              <i style="font-size: 6rem" class="m-auto pt-4 fa fa-hashtag "></i>
            </div>
            <div class="card-body">
              <center><h6 class="font-weight-bold text-dark text-uppercase">UPH</h6></center>
              <p class="card-text"><% if @uph  < 7.5 %>Looks like your UPH needs work to reach the goal of 7.5 units/hour. Work on reducing your handle time.<% else %>Keep it up!<% end %></p>
            </div>
          </div>
        </div>
        <div class="col d-flex align-items-stretch">
          <div class="card fancy-fade-3" style="width: 12rem;">
            <div class="card-header m-auto" id="occupancy-modal">
              <i style="font-size: 6rem" class="m-auto pt-4 fa fa-clock-o "></i>
            </div>
            <div class="card-body">
              <center><h6 class="font-weight-bold text-dark text-uppercase">Occupancy</h6></center>
              <p class="card-text"><% if @occ >= 100 %> Great work, just be sure you do not exceed the 100% threshold by only working on one item at a time. <% elsif @occ < 90 %>Need to keep working on this. Speak to a lead or manager to see how.<% else %>Great, keep it between 90%-100%!<% end %></p>
            </div>
          </div>
        </div>
        <div class="col d-flex align-items-stretch">
          <div class="card fancy-fade-4" style="width: 12rem;">
            <div class="card-header m-auto" id="error-modal">
              <i style="font-size: 6rem" class="m-auto pt-4 fa fa-exclamation-triangle "></i>
            </div>
            <div class="card-body">
              <center><h6 class="font-weight-bold text-dark text-uppercase">IMPROVEMENT LOGS</h6></center>
              <p class="card-text"><% if @err_logs_count > 2 %>Unfortunately, your errors are a bit too much this month. Work on accuracy for next month!<% else %>Don't lose momentum!<% end %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="font-weight-bold ml-5 mr-5 mb-3 text-center">As a reminder, all data is subject to final checks before the incentive is tendered. This portal is to be used as a reference guide and not as a definitive source for eligibility.</p>
      </div>
      <div class="m-auto pb-4"><button class="btn btn-sm btn-primary font-weight-bold text-white" data-dismiss="modal">ENTER</button></div>
      <span class="font-weight-bold text-muted pr-1 pb-1" style="position:absolute;bottom:0px !important;left:5px !important;font-size: 10px"><%= current_user.full_name %></span>
      <span class="font-weight-bold text-muted pr-1 pb-1" style="position:absolute;bottom:0px !important;right:5px !important;font-size: 10px"><%= Time.now %></span>
    </div>
  </div>
</div>
<!-- /END OF COOKIE MODAL -->

<!-- Start dispute modal -->
<div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="modal-dialog">

    </div>
  </div>
</div>


<section class="px-3 pt-5 pb-3 mb-3 d-flex flex-column" style="background-color: #eeeeee !important">
  <div class="container-fluid">
    <div class="row equal-cols">
      <div class="col-12 col-md-3 d-flex flex-column justify-items-between">
        <div class="card card-mini card-mini-solid-icon float" id="occurrence-card" data-toggle="tooltip" data-placement="right" data-html="true" title="<span class='p-1 text-uppercase'>0.5 or less</span>">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h6 class="m-0"><u>Occurrences</u></h6>
              </div>
              <div class="col-4">
                <ul class="nav nav-pills pull-right justify-items-between" id="arrow-tab-occurrences" role="tablist">
                  <li class="nav-item mr-1">
                    <a class="p-0" id="pills-occurrence-monthly-tab" data-toggle="pill" href="#pills-occurrence-monthly" role="tab" aria-controls="pills-occurrence-monthly" aria-selected="true"><h6><i class="fa fa-chevron-left occurrence-card"></i></h6></a>
                  </li>
                  <li class="nav-item ml-1">
                    <a class="p-0" id="pills-occurrence-total-tab" data-toggle="pill" href="#pills-occurrence-total" role="tab" aria-controls="pills-occurrence-total" aria-selected="false"><h6><i class="fa fa-chevron-right occurrence-card"></i></h6></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-occurrence-monthly" role="tabpanel" aria-labelledby="pills-occurrence-monthly-tab">
                <div class="row">
                  <div class="col-8">
                    <h4 class="m-0 entry-count"><%= @user_entry_total_effective_monthly %> <small>monthly</small></h4>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-calendar-times-o pull-right pt-2"></i>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="pills-occurrence-total" role="tabpanel" aria-labelledby="pills-occurrence-total-tab">
                <div class="row">
                  <div class="col-8">
                    <h4 class="m-0 entry-count"><%= @user_entry_total_effective %> <small>total</small></h4>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-calendar-times-o pull-right pt-2"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon float" id="wu-card" data-toggle="tooltip" data-placement="right" data-html="true" title="<span class='p-1 text-uppercase'>0 active prog actions</span>">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0"><u>Progressive Logs</u></h6>
                <h4 class="m-0 dap-count"><%= @user_writeup_written %> <small>active</small></h4>
              </div>
              <div class="d-flex align-self-center ml-3">
                <span>
                  <i class="fa fa-wpforms "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon float" id="uph-card" data-toggle="tooltip" data-placement="right" data-html="true" title="<span class='p-1 text-uppercase'>7.5 or greater</span>">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0"><u>UPH</u></h6>
                <h4 class="m-0"><%= number_with_precision(@uph, :precision => 1) %> <small>monthly average</small></h4>
              </div>
              <div class="d-flex align-self-center ml-3">
                <span>
                  <i class="fa fa-hashtag "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon float" id="occupancy-card" data-toggle="tooltip" data-placement="right" data-html="true" title="<span class='p-1 text-uppercase'>90%-100%</span>">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0"><u>Occupancy</u></h6>
                <h4 class="m-0"><%= number_with_precision(@occ, :precision => 1) %>% <small>monthly average</small></h4>
              </div>
              <div class="d-flex align-self-center ml-3">
                <span>
                  <i class="fa fa-clock-o "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon float" id="error-card" data-toggle="tooltip" data-placement="right" data-html="true" title="<span class='p-1 text-uppercase'>2 or less, under $250.00 total</span>">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h6 class="m-0"><u>Improvement Opps</u></h6>
              </div>
              <div class="col-4">
                <ul class="nav nav-pills pull-right justify-items-between" id="arrow-tab" role="tablist">
                  <li class="nav-item mr-1">
                    <button class="btn btn-link btn-style left m-0 p-0" type="button"><i class="fa fa-chevron-left error-card"></i></button>
                  </li>
                  <li class="nav-item ml-1">
                    <button class="btn btn-link btn-style right m-0 p-0" type="button"><i class='fa fa-chevron-right error-card'></i></button>
                  </li>
                </ul>
                <div hidden>
                  <ul class="nav nav-pills pull-right justify-items-between" id="pills-tab" role="tablist">
                    <li class="nav-item active mr-1">
                      <a class="p-0" id="pills-error-monthly-tab" data-toggle="pill" href="#pills-error-monthly" role="tab" aria-controls="pills-error-monthly" aria-selected="true"><h6></h6></a>
                    </li>
                    <li class="nav-item ml-1">
                      <a class="p-0" id="pills-error-disputed-tab" data-toggle="pill" href="#pills-error-disputed" role="tab" aria-controls="pills-error-disputed" aria-selected="false"><h6><i class="fa fa-chevron-right "></i></h6></a>
                    </li>
                    <li class="nav-item ml-1">
                      <a class="p-0" id="pills-error-pending-tab" data-toggle="pill" href="#pills-error-pending" role="tab" aria-controls="pills-error-pending" aria-selected="false"><h6><i class="fa fa-chevron-right "></i></h6></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-error-monthly" role="tabpanel" aria-labelledby="pills-error-monthly-tab">
                <div class="row">
                  <div class="col-8">
                    <h4 class="m-0 entry-count"><%= @err_logs_count %> <small>active</small></h4>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-calendar-times-o pull-right pt-2"></i>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="pills-error-disputed" role="tabpanel" aria-labelledby="pills-error-disputed-tab">
                <div class="row">
                  <div class="col-8">
                    <h4 class="m-0 entry-count"><%= @err_logs_dispute %> <small>disputed</small></h4>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-calendar-times-o pull-right pt-2"></i>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="pills-error-pending" role="tabpanel" aria-labelledby="pills-error-pending-tab">
                <div class="row">
                  <div class="col-8">
                    <h4 class="m-0 entry-count"><%= @err_logs_pending %> <small>pending</small></h4>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-calendar-times-o pull-right pt-2"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<script>

$(".btn-style").click(function () {
    var target = $("#pills-tab li.active");
    var sibbling;
    if ($(this).hasClass('right')) {
        sibbling = target.next();
    } else {
        sibbling = target.prev();
    }
    if (sibbling.is("li")) {
        target.removeClass("active")
        sibbling.addClass("active").children("a").tab("show");
    }
});

</script>

      </div>

      <div class="col-12 col-md-6">
        <div class="card float" style="background-color: #ffffff !important">
                <div class="card-header d-flex align-items-center">
        <h6 class="mr-auto">Agent Stats</h6>
        <div class="d-flex">
          <div class="dropdown">
            <button class="nav-link btn btn-icon " type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= theme_icon_tag "more" %>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-badgeledby="salesAndRefundButton" id="chart-selector">
              <button class="dropdown-item" id="userChartEffective">Occurrences Active</button>
              <button class="dropdown-item" id="userChartTotal">Occurrences All Time</button>
            </div>
          </div>
        </div>
      </div>
          <div class="card-body" style="height: 475px">
            <canvas id="statChart" width="200" height="100"></canvas>
            <center>
              <div id="pointer">
              <i class="fa fa-chevron-down box bounce-4" style="font-size: 10em"></i>
              </div>
            </center>
          </div>
        </div>
      </div>

    <div class="col-3 ">
      <!-- RECENT ACTIVITY TABLE -->
      <div class="card inspectable float">
        <!-- component-title: Timeline Card -->
        <div class="card-header">
          <h6>RECENT ACTIVITY</h6>
        </div>
        <div class="card-body" style="height: 475px">
          <div class="timeline">
            <ul class="left-timeline">
              <% @user_entry.each do |entry| %>
                <li class="timeline-item">
                  <time class=''>
                    <strong>
                      <%= entry.occurrence.name %> - <%= entry.occurrence.ovalue %>
                    </strong>
                  </time>
                  <div class="activity-text">
                    <strong><%= entry.edate.strftime("%m/%d/%Y") %></strong>
                    <small class="text-muted">EXPIRES: <%= (entry.edate + 90.days).strftime("%m/%d/%Y") %></small>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <!-- /RECENT ACTIVITY TABLE-->
    </div>

      
    </div>
  </div>
</section>

<div class="btn-group align-items-center" role="group">
  <ul class="nav nav-pills mb-3 ml-4" id="pills-tab" role="tablist">
    <li class="nav-item active font-weight-bold">
      <button class="btn btn-primary active font-weight-bold table-select" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" type="button" name="occurrence"><i class="fa fa-calendar-times-o "></i></button>
      <button class="btn btn-primary table-select" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" type="button" name="progressive action"><i class="fa fa-wpforms "></i></button>
      <button class="btn btn-primary table-select" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false" type="button" name="improvement Opportunities"><i class="fa fa-exclamation-triangle "></i></button>
    </li>
  </ul>  
</div>

<div class="pull-right pr-4">
  <h3 class="font-weight-bold" id="table-title" style="opacity:0"><span class="text-uppercase" name="table-title-current-anchor" id="table-title-current">OCCURRENCE</span> BREAKDOWN</h3>
</div>
<div class="container-fluid p-4" style="height: 450px;background-color: #eeeeee !important;">
  <div class="row">
    <div class="col-12 ">
      <div class="row">
        <div class="col-12">
          <!-- OCCURRENCE TABLE -->
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="card card-sheet sheet-condensed inspectable float">
                <div class="table-responsive" >
                  <table class="table table-hover table-striped" id="userEntryTable">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Expires</th>
                        <th>Description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="card inspectable float">      
                <div class="table-responsive">
                  <table class="table table-hover table-striped" id="userDapTable">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Expires</th>
                        <th>Description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>              
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="card inspectable float">      
                <div class="table-responsive">
                  <table class="table table-striped table-hover" id="userErrorTable">
                  <thead>
                    <tr>
                                            <th>Date</th>
                                            <th>SO</th>
                                            <th>Cost</th>
                                            <th>Type</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th></th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>

    </div>

  </div>
</div>
<script>
$(window).scroll(function(){
  $('#pointer').css('opacity', 1 - $(window).scrollTop() / 300);
  $('#table-title').css('opacity', 0 + $(window).scrollTop() / 400);
});

$('.table-select').click(function(){
  $('#table-title-current').text($(this).attr('name'));
})

var chart_labels = <%= raw @agent_chart_labels_effective %>;
var uph_data = <%= @agent_chart_data_effective %>;
var occ_data = <%= @agent_chart_data_effective_occupancy %>;
var dataset_label = "UPH";
var chart_type = 'line';
var ctx = document.getElementById("statChart").getContext('2d');
var config = {
    type: 'bar',
    data: {
        labels: chart_labels,
        datasets: [{
            label: "UPH",
            yAxisID: 'B',
            data: uph_data,
            backgroundColor: 'rgb(0,100,0, 0.7)',
            borderColor: '#373737',
            borderWidth: 1,
            order: 2
        },{
            label: 'OCC',
            yAxisID: 'A',
            data: occ_data,
            backgroundColor: 'rgb(152,251,152,0.4)',
            borderColor: '#373737',
            borderWidth: 1,
            type: 'line',
            order: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
              id: 'A',
              type: 'linear',
              position: 'right',
              ticks: {
                  min: 50,
                  max: 150,
                  callback: function(value, index, values) {
                      return value + '%';
                  }
              }
            }, {
              id: 'B',
              type: 'linear',
              position: 'left',
              ticks: {
                  min: 0,
                  max: 20
              }
            }]
        }
    }
};
var stat_chart = new Chart(ctx, config);


</script>
</body>