  <script>



$(document).ready(function(t){
// ENTRIES TABLE
var t = $('#userEntryTable').DataTable({ 
        "pageLength": 5,
        select: true,
        columns: [ 
              { data: 'Name' }, 
              { data: 'Type' },
              { data: 'Date' }, 
              { data: 'Expires' },
              { data: 'Description' },
              { data: '' } 
            ]
          });
  t.draw();



t.rows.add(
  [<% @user_entry.each do |entry| %>{'Name': '<%= entry.agent.user.full_name %>', 'Type': '<%= entry.occurrence.name.truncate(15) %>', 'Date':'<%= entry.edate %>', 'Expires':'<%= entry.edate + 90.days %>', 'Description':'<%= entry.edesc.truncate(15) %>', '':''},<% else %><% end %>]
  ).draw();

// DAPS TABLE
var t = $('#userDapTable').DataTable({ 
        "pageLength": 5,
        select: true,
        columns: [ 
              { data: 'Name' }, 
              { data: 'Type' },
              { data: 'Date' }, 
              { data: 'Expires' },
              { data: 'Description' },
              { data: '' } 
            ]
          });
  t.draw();



t.rows.add(
  [<% @user_dap.each do |dap| %>{'Name': '<%= dap.user.full_name %>', 'Type': '<%= dap.writeup.name %>', 'Date':'<%= dap.ddate %>', 'Expires':'<%= dap.ddate + 90.days %>', 'Description':'<%= dap.description.truncate(15) %>', '':''},<% else %><% end %>]
  ).draw();

});
  </script>




<%= stylesheet_link_tag "pagination.css" %>
<% content_for :no_page_header, true %>
<% content_for :js_libs, "modernizr gmaps flot chartjs demo-dashboard demo-chartjs demo-sparklines" %>

<style>
.morning-message {
  font-size: 5em;
}

.modal-backdrop
{
    opacity: 1 !important;
}

table tbody tr:hover {
  color:black;
}

.box {
    animation-duration: 2s;
    animation-iteration-count: 10;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}

.bounce-4 {
    animation-name: bounce-4;
    animation-timing-function: ease;
}
@keyframes bounce-4 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(40px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}
</style>

<body>
<!-- COOKIE MODAL BELOW (FUNCTIONING). CAN BE USED FOR INSTRUCTIONS OR TO GIVE A WEEKLY BREAKDOWN -->
<script>
$(document).ready(function() {
    if (Cookies.get('morning_modal') == null) {
        Cookies.set('morning_modal', 'yes', { expires: 1, path: '/' });
        $('#morningModal').modal('show');
    }
});
</script>
<div class="modal fade" id="morningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content rounded p-1" style="background-color: #4caf50 !important;opacity:0.8">
      <div class="rounded border-light" style="height:100%;width:100%;border-radius: 5px;border-style: solid;">
        <span class="font-weight-bold text-light text-uppercase morning-message"><center>WELCOME, <%= current_user.first_name %>!</center></span><br>
        <div class="row justify-content-center p-3">
          <table class="table table-hover bg-transparent text-white font-weight-bold">
            <thead>
              <tr>
                <th></th>
                <th><center>QUANTITY</center></th>
                <th><center>NEXT EXPIRATION</center></th>
                <th><center>DROPOFF VALUE</center></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Occurrences</td>
                <td><center><%= @user_entry_total_effective %></center></td>
                <td><center><% if @user_entry_total_effective > 0 %><%= (@user_entry.reverse.first.edate + 180.days) %><% else %>NONE<% end %></center></td>
                <td><center><% if @user_entry_total_effective > 0 %><%= @user_entry.reverse.first.occurrence.ovalue %><% else %>NONE<% end %></center></td>
              </tr>
              <tr>
                <td>Progressive Actions</td>
                <td><center><%= @user_writeup_written %></center></td>
                <td><center><% if @user_writeup_written > 0 %><% if @user_writeup_written == 1 %><%= (@user_dap_written.map {|d| d.ddate + 90.days}.first) %><% else %><%= (@user_dap_written.reverse.first.ddate + 90.days) %><% end %><% else %>NONE<% end %></center></td>
                <td><center></center></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-light font-weight-bold text-primary" style="position:absolute;top:5px !important;right:5px !important" data-dismiss="modal"><%= fa_icon_tag("times") %></button>
        <span class="font-weight-bold text-white" style="position:absolute;bottom:0px !important;right:5px !important"><%= Time.now %></span>
    </div>
  </div>
</div></div>
<!-- /END OF COOKIE MODAL -->

<section class="px-3 pt-5 pb-3 mb-3 d-flex flex-column" style="background-color: #eeeeee !important">
  <div class="container-fluid">
    <div class="row equal-cols">

<div class="col-12 col-md-3 d-flex flex-column justify-items-between">

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted"><u>Active Occurrences</u></h6>
                <h4 class="m-0 entry-count"><%= @user_entry_total_effective %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-calendar-times-o"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted"><u>Active Prog Actions</u></h6>
                <h4 class="m-0 dap-count"><%= @user_writeup_written %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-wpforms "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted"><u>Average UPH</u></h6>
                <h4 class="m-0"><%= number_with_precision(@uph, :precision => 1) %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-hashtag "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted"><u>Average Occupancy</u></h6>
                <h4 class="m-0"><%= number_with_precision(@occ, :precision => 1) %>%</h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-clock-o "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted"><u>Improvement Opps</u></h6>
                <h4 class="m-0"><%= @err_logs %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-exclamation-triangle "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-12 col-md-6">
        <div class="card" style="background-color: #ffffff !important">
                <div class="card-header d-flex align-items-center">
        <h6 class="mr-auto">Agent Stats</h6>
        <div class="d-flex">
          <div class="dropdown">
            <button class="nav-link btn btn-icon " type="button" id="salesAndRefundButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= theme_icon_tag "more" %>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-badgeledby="salesAndRefundButton" id="chart-selector">
              <button class="dropdown-item" id="userChartEffective">Occurrences Active</button>
              <button class="dropdown-item" id="userChartTotal">Occurrences All Time</button>
            </div>
          </div>
        </div>
      </div>
          <div class="card-body" style="height: 475px">
            <canvas id="statChart" width="200" height="100"></canvas>
            <center>
              <div id="pointer">
              <i class="fa fa-chevron-down box bounce-4" style="font-size: 10em"></i>
              </div>
            </center>
          </div>
        </div>
      </div>

    <div class="col-3 ">
      <!-- RECENT ACTIVITY TABLE -->
      <div class="card inspectable">
        <!-- component-title: Timeline Card -->
        <div class="card-header">
          <h6>RECENT ACTIVITY</h6>
        </div>
        <div class="card-body" style="height: 475px">
          <div class="timeline">
            <ul class="left-timeline">
              <% @user_entry.each do |entry| %>
                <li class="timeline-item">
                  <time class=''>
                    <strong>
                      <%= entry.occurrence.name %>
                    </strong>
                  </time>
                  <div class="activity-text">
                    <strong><%= entry.edate %></strong>
                    <small class="text-muted"><%= entry.agent.department.name %></small>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <!-- /RECENT ACTIVITY TABLE-->
    </div>

      
    </div>
  </div>
</section>

<div class="btn-group align-items-center" role="group">
  <ul class="nav nav-pills mb-3 ml-4" id="pills-tab" role="tablist">
    <li class="nav-item active font-weight-bold">
      <button class="btn btn-primary active font-weight-bold table-select" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" type="button" name="occurrence"><i class="fa fa-calendar-times-o "></i></button>
      <button class="btn btn-primary table-select" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" type="button" name="progressive action"><i class="fa fa-wpforms "></i></button>
      <button class="btn btn-primary table-select" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false" type="button" name="statistics"><i class="fa fa-line-chart "></i></button>
    </li>
  </ul>
  
</div>
<div class="pull-right pr-4">
    <h3 class="font-weight-bold" id="table-title" style="opacity:0"><span class="text-uppercase" id="table-title-current">OCCURRENCE</span> BREAKDOWN</h3>
  </div>
<div class="container-fluid p-4" style="height: 450px;background-color: #eeeeee !important;">
  <div class="row">
    <div class="col-12 ">
      <div class="row">
        <div class="col-12">
          <!-- OCCURRENCE TABLE -->
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="card card-sheet sheet-condensed inspectable">
                <div class="table-responsive" >
                  <table class="table table-hover table-striped" id="userEntryTable">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Expires</th>
                        <th>Description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="card inspectable">      
                <div class="table-responsive">
                  <table class="table table-hover table-striped" id="userDapTable">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Expires</th>
                        <th>Description</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>              
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <center><H1>COMING SOON</H1></center>
            </div>
          </div>

          <!-- /OCCURRENCE TABLE -->
        </div>
      </div>

    </div>

  </div>
</div>
<script>
$(window).scroll(function(){
  $('#pointer').css('opacity', 1 - $(window).scrollTop() / 300);
  $('#table-title').css('opacity', 0 + $(window).scrollTop() / 400);
});

$('.table-select').click(function(){
  $('#table-title-current').text($(this).attr('name'));
})

var chart_labels = <%= raw @agent_chart_labels_effective %>;
var uph_data = <%= @agent_chart_data_effective %>;
var occ_data = <%= @agent_chart_data_effective_occupancy %>;
var dataset_label = "UPH";
var chart_type = 'line';
var ctx = document.getElementById("statChart").getContext('2d');
var config = {
    type: 'bar',
    data: {
        labels: chart_labels,
        datasets: [{
            label: "UPH",
            yAxisID: 'B',
            data: uph_data,
            backgroundColor: 'rgb(0,100,0, 0.7)',
            borderColor: '#373737',
            borderWidth: 1,
            order: 2
        },{
            label: 'OCC',
            yAxisID: 'A',
            data: occ_data,
            backgroundColor: 'rgb(152,251,152,0.4)',
            borderColor: '#373737',
            borderWidth: 1,
            type: 'line',
            order: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
              id: 'A',
              type: 'linear',
              position: 'right',
              ticks: {
                  min: 50,
                  max: 150,
                  callback: function(value, index, values) {
                      return value + '%';
                  }
              }
            }, {
              id: 'B',
              type: 'linear',
              position: 'left',
              ticks: {
                  min: 0,
                  max: 20
              }
            }]
        }
    }
};
var stat_chart = new Chart(ctx, config);


</script>
</body>