<%= stylesheet_link_tag "pagination.css" %>
<% content_for :no_page_header, true %>
<% content_for :js_libs, "modernizr gmaps flot chartjs demo-dashboard demo-chartjs demo-sparklines" %>

<section class="bg-light px-3 pt-5 pb-3 mb-3 d-flex flex-column">
  <div class="container-fluid">
    <div class="row equal-cols">

      <div class="col-12 col-md-3">
        <h4 class="leading-normal m-0 p-0">Hello, <%= current_user.first_name %></h4>
        <p class="leading-normal small">Important information regarding the occurrence system:</p>
        <ul class="m-0 p-0 mb-5 small">
          <li>If your total occurrences meet the following guidelines within 180 days:</li>
            <ul><br />
              <li><b>Verbal Warning</b> - If employee gets <u>3.0 or more</u> occurrences will receive verbal warning. The warning will remain in effect for <u>90 days</u>. If employee receives <u>1.0 or more</u> occurrences during this period, progress to next.</li>
              <li><b>Written Warning</b> - Issued for receiving <u>1.0 or more</u> occurrences during verbal warning and last for <u>90 days</u>. If agent receives an additional <u>1.0 or more</u> occurrences, progress to next.</li>
              <li><b>Final Written Warning</b> - Received for <u>1.0 or more</u> occurrences during <u>90 day written warning</u>. If agent receives <u>1.0 or more</u> occurrences during this <u>90 day period</u> their employment <u>will be terminated</u>.</li>
            </ul>  
        </ul>
      </div>

      <div class="col-12 col-md-6">
        <div class="card card-full-height">
          <div class="card-body">
            <canvas id="myChart" width="200" height="100"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%= raw @agent_chart_labels %>,
        datasets: [{
            label: 'Count',
            data: <%= raw @agent_chart_data %>,
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 d-flex flex-column justify-items-between">

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted">Active Occurrences</h6>
                <h4 class="m-0"><%= @user_entry_total_effective %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-hashtag "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted">Total Active Tardies</h6>
                <h4 class="m-0"><%= @user_entry_tardy_effective %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-clock-o "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted">Total Active Absences</h6>
                <h4 class="m-0"><%= @user_entry_absent_effective %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="fa fa-table "></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-mini card-mini-solid-icon">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h6 class="m-0 text-muted">Total Active Write-ups</h6>
                <h4 class="m-0"><%= @user_writeup_written %></h4>
              </div>
              <div class="d-flex align-self-center text-primary ml-3">
                <span>
                  <i class="material-icons ">receipt</i>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card inspectable">
        <div class="card-header d-flex align-items-center">
          <h6>List of occurrences</h6>   
        </div>
        <div class="table-responsive" >
          <table class="table table-hover table-striped" id="userEntryTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <% @user_entry.each do |entry| %>
              <tr>
                <td><%= entry.agent.user.full_name %></td>
                <td><%= entry.occurrence.name %></td>
                <td><%= entry.edate %></td>
                <td><%= entry.edesc.truncate(15) %></td>
                <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), entry, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                      </div>
                      </td>
              </tr>
            <% end %>
          </table>
          <center><%= will_paginate @user_entry %></center>
        </div><br>
        <div class="card-header d-flex align-items-center">
          <h6>List of Disciplinary Actions</h6>   
        </div>

        <div class="table-responsive">
          <table class="table table-hover table-striped" id="userDapTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <% @user_dap.each do |dap| %>
              <tr>
                <td><%= dap.user.full_name %></td>
                <td><%= dap.writeup.name %></td>
                <td><%= dap.ddate %></td>
                <td><%= dap.description %></td>
                <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), dap, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                      </div>
                      </td>
              </tr>
            <% end %>
          </table>
          
        </div>
        <center><%= will_paginate @user_dap %></center>
      </div>
    </div>
  


<div class="col-12 col-md-3 animate-fade-in-1000">
    <div class="card card-full-height d-flex inspectable">
      <!-- component-title: Timeline Card -->
      <div class="card-header">
        <h6>RECENT ACTIVITY</h6>
      </div>
      <div class="card-body">
        <div class="timeline" style="height: 450px">
          <ul class="left-timeline">
            <% @user_entry.each do |entry| %>
              <li class="timeline-item">
                <time class=''>
                  <strong>
                    <%= entry.occurrence.name %>
                  </strong>
                </time>
                <div class="activity-text">
                  <strong><%= entry.edate %></strong>
                  <small class="text-muted"><%= entry.agent.department.name %></small>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>  
</div>