<% @title = "Listing Agents" %>

<% content_for :description do %>
  <% end %>
    <% content_for :actions do %>
    <%= link_to new_user_path, class: 'btn btn-primary btn-large pull-right' do %>
      <%= fa_icon_tag "plus" %> Add User
    <% end %>
  <% end %>

      <div class="container">
        <div class="row">
        <!-- search card -->
        <div class="col-3">
          <div class="card card-mini card-mini-solid-icon">
            <div class="card-body">
              <h6 class="ml-3"><%= fa_icon_tag "search" %> Search</h6>
              <%= form_tag(agents_path, method: "get") do %>
                <%= text_field_tag :search, nil, class: "form-control" %>
                  <%= submit_tag "", style: "display: none;" %>
              <% end %>
            </div>
          </div>
        </div>
        <!-- /search card -->
          <div class="col-md-12">
            <div class="card card-sheet sheet-condensed">
              <div class="table-responsive">
              <table class="table table-striped table-hover table-condensed">
                <thead>
                  <tr>
                                          <th>Agent ID</th>
                                          <th>Full Name</th>
                                          <th>Email</th>
                                          <th>Department Name</th>
                                          <th>TAO <small><%= link_to fa_icon_tag("question-circle"), 'data-toggle': 'tooltip', title: 'Total Active Occurrences (180 days)' %></small></th>
                                          <th>TAW <small><%= link_to fa_icon_tag("question-circle"), 'data-toggle': 'tooltip', title: 'Total Active Writeups (90 days)' %></small></th>
                                          <th>OSAW <small><%= link_to fa_icon_tag("question-circle"), 'data-toggle': 'tooltip', title: 'Total Occurrences Since Active Writeup' %></small></th>
                                          <th>OSW <small><%= link_to fa_icon_tag("question-circle"), 'data-toggle': 'tooltip', title: 'Total Occurrences Since Active Writeup' %></small>
                                          </th>
                                          <th>AR? <small><%= link_to fa_icon_tag("question-circle"), 'data-toggle': 'tooltip', title: 'Disciplinary Action Required' %></small></th>
                                        <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @agents.each do |agent| %>
                  <tr data-toggle="collapse" data-target="#accordion<%= agent.user.id %>" class="accordion-toggle">
                    
                                          <% if agent.user.deleted_at.blank? then %>
                                          <td><%= agent.user.id %></td>
                                          <td><%= agent.user.full_name %></td>
                                          <td><%= agent.user.email %></td>
                                          <td><%= agent.department.name.truncate(20) %></td>
                                          <td><% if agent.entries.map {|a| a.total_effective_occurrence.to_f}.first.to_f > 2.5 then %>
                                                <span class="text-danger"><%= agent.entries.map {|a| a.total_effective_occurrence.to_f}.first %></span>
                                              <% else %>
                                                <span><%= agent.entries.map {|a| a.total_effective_occurrence.to_f}.first %></span>
                                              <% end %>  
                                          </td>
                                          <td><% if agent.user.daps.map {|m| m.total_active_writeup.to_f}.join(' ').to_f > 0 then %>
                                                <span class="text-danger"><%= agent.user.daps.map {|m| m.total_active_writeup.to_f}.join(' ').to_i %></span>
                                              <% else %>
                                                <span><%= agent.user.daps.map {|m| m.total_active_writeup.to_i}.join(' ').to_f %></span> 
                                              <% end %> 
                                          </td>
                                          <td><% if agent.user.daps.map {|m| m.occurrence_since_dap}.first.to_f >= 1.0 then %>
                                                <span class="text-danger"><%= agent.user.daps.map{|m| m.occurrence_since_dap}.first %></span>
                                              <% else %>
                                                <span><%= agent.user.daps.map{|m| m.occurrence_since_dap}.first %></span>
                                              <% end %>
                                          </td>
                                          <td><% if agent.user.daps.map {|m| m.total_occurrences_since_writeup.to_f}.first.to_f > 2.5 then %>
                                            <span class="text-danger"><%= agent.user.daps.map {|m| m.total_occurrences_since_writeup.to_f}.first %></span>
                                            <% else %>
                                              <span><%= agent.user.daps.map {|m| m.total_occurrences_since_writeup.to_f}.first %></span>
                                            <% end %>
                                          </td>
                                          <td><% if agent.user.daps.map {|m| m.occurrence_since_dap}.first.to_f >= 1.0 || agent.entries.map {|a| a.total_effective_occurrence}.first.to_f > 2.5 && agent.user.daps.map.count {|m| m.total_active_writeup} == 0 || agent.user.daps.map {|m| m.total_occurrences_since_writeup.to_f}.first.to_f > 2.5 then %>
                                                <span class="text-danger"><%= fa_icon_tag("times-circle-o") %></span>
                                              <% else %>
                                                <span class="text-success"><%= fa_icon_tag("check-circle-o") %></span>
                                              <% end %>  
                                          </td>
                                        <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), agent_path(agent.id), 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("pencil-alt"), edit_user_path(agent.user.id), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" %>
                        <%= link_to  theme_icon_tag("trash"), user_path(agent.user.id), confirm: "Are you sure?", method: :delete, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' %>
                      </div>
                      </td>
                      <% else %>
                      <% end %>
                    </tr>
                    <!-- Agent Card Section -->
                    <tr>
                      <td colspan="10" class="hiddenrow">
                        <div id="accordion<%= agent.user.id %>" class="collapse">
                          <div class="card card-mini p-0 m-0">
<!--                             <div class="card-header" style="background-image: url('<%= asset_path('background.png') %>')">
                              <h3 class="font-weight-bold"><%= agent.user.full_name %></h3>
                            </div> -->
                            <div class="card-body border">
                              <div class="row pb-2">
                                <div class="col-4">
                                  <small class="pl-5">Prepare Occurrence:</small>
                                  <div class="pl-5">
                                    <h3><%= fa_icon_tag("clock-o") %> <%= link_to "NEW", new_entry_path %></h3>
                                  </div>
                                </div>
                                <div class="col-4">
                                  <small class="pl-5">Agent Writeup:</small>
                                  <div class="pl-5">
                                   <h3><%= fa_icon_tag("file-text-o") %> <%= link_to "NEW", new_dap_path %></h3>
                                  </div>
                                </div>
                                <div class="col-4">
                                  <small class="pl-5">Agent Status:</small>
                                  <div class="pl-5">
                                    <% if agent.user.daps.map {|m| m.occurrence_since_dap}.first.to_f >= 1.0 || agent.entries.map {|a| a.total_effective_occurrence}.first.to_f > 2.5 && agent.user.daps.map.count {|m| m.total_active_writeup} == 0 || agent.user.daps.map {|m| m.total_occurrences_since_writeup.to_f}.first.to_f > 2.5 then %>
                                      <h3><span class="text-danger"><%= fa_icon_tag("times-circle-o") %></span> ACTION REQUIRED</h3>
                                    <% else %>
                                      <h3><span class="text-success"><%= fa_icon_tag("check-circle-o") %></span> AGENT OK</h3>
                                    <% end %> 
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-3">
                                  <div class="text-center">
                                      <small>Total Active Occurrences</small>
                                    <h4>
                                  <% if agent.entries.map {|a| a.total_effective_occurrence.to_f}.first.to_f > 2.5 then %>
                                    <span class="text-danger"><%= agent.entries.map {|a| a.total_effective_occurrence.to_f}.first %></span>
                                  <% else %>
                                    <span><%= agent.entries.map {|a| a.total_effective_occurrence.to_f}.first %></span>
                                  <% end %> 
                                    </h4>
                                  </div>
                                </div>
                                <div class="col-3">
                                  <div class="text-center">
                                      <small>Total Active Writeups</small>
                                    <h4>
                                      <% if agent.user.daps.map {|m| m.total_active_writeup.to_f}.join(' ').to_f > 0 then %>
                                                <span class="text-danger"><%= agent.user.daps.map {|m| m.total_active_writeup.to_f}.join(' ').to_i %></span>
                                              <% else %>
                                                <span><%= agent.user.daps.map {|m| m.total_active_writeup.to_i}.join(' ').to_f %></span> 
                                              <% end %> 
                                    </h4>
                                  </div>
                                </div>
                                <div class="col-3">
                                  <div class="text-center">
                                      <small>Total Occurrences Since Active Writeup</small>
                                    <h4>
                                  <% if agent.user.daps.map {|m| m.occurrence_since_dap}.first.to_f >= 1.0 then %>
                                                <span class="text-danger"><%= agent.user.daps.map{|m| m.occurrence_since_dap}.first %></span>
                                              <% else %>
                                                <span><%= agent.user.daps.map{|m| m.occurrence_since_dap}.first %></span>
                                              <% end %>
                                    </h4>
                                  </div>
                                </div>
                                <div class="col-3">
                                  <div class="text-center">
                                      <small>Total Occurrences Since Writeup</small>
                                    <h4>
                                      <% if agent.user.daps.map {|m| m.total_occurrences_since_writeup.to_f}.first.to_f > 2.5 then %>
                                        <span class="text-danger"><%= agent.user.daps.map {|m| m.total_occurrences_since_writeup.to_f}.first %></span>
                                      <% else %>
                                        <span><%= agent.user.daps.map {|m| m.total_occurrences_since_writeup.to_f}.first %></span>
                                      <% end %>
                                    </h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <!-- /agent card section -->
                    <% end %>
                    <% if @agents.length == 0 %>
                    <tr><td colspan=42 class='text-center'>No agents.</td></tr>
                    <% end %>
                </tbody>
              </table>
            </div>
            <center><%= will_paginate @agents %></center>
            </div>  
          </div>
        </div>
      </div>
