<% @title = "Showing agent" %>

<% content_for :description do %>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Agent ID</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent.user.id %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Name</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent.user.full_name %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Email</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent.user.email %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Department</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @agent.department.name %>
                  </span>
                </div>
              </div>

                        <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_agent_path(@agent), class: 'btn btn-primary' %>
                <%= link_to 'Back', agents_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 hidepane">
      <!-- RECENT ACTIVITY TABLE -->
      <div class="card inspectable">
        <!-- component-title: Timeline Card -->
        <div class="card-header">
          <h6>Current Items</h6>
        </div>
        <div class="card-body">
          <div class="timeline" style="height: 450px">
            <ul class="left-timeline">
              <li>
                <% if @user_entry_total_effective > 2.5 && @user_dap_total_effective == 0 then %>
                <strong>Occurrences: <span class="text-danger pull-right"> <%= @user_entry_total_effective %></span>
                  <center><small class="text-danger">***Agent Writeup Required***</small></center>
                <% else %>
                <strong>Occurrences: <span class="pull-right"><%= @user_entry_total_effective %></span>
                <% end %>
              </li><br />
              <li>
                <% if @user_dap_total_effective >= 1 then %>
                <strong>Writeups: <span class="text-danger pull-right"><%= @user_dap_total_effective %></span>
                <% else %>
                <strong>Writeups: <span class="pull-right"><%= @user_dap_total_effective %></span>
                <% end %>
              </li><br />
              <li>
                <% if @agent.user.daps.map {|m| m.occurrence_since_dap.first}.first.to_f > 1.0  %>
                <strong>Since Writeup: <span class="text-danger"><%= @agent.user.daps.map {|m| m.occurrence_since_dap}.first.to_f %></span></strong>
                <center><small class ="text-danger">**Agent Writeup Required**</small></center>
                <% else %>
                <strong>Since Writeup: <span><%= @agent.user.daps.map {|m| m.occurrence_since_dap}.first.to_f %></span></strong>
                <% end %> 
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /RECENT ACTIVITY TABLE-->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card inspectable">
        <div class="card-header d-flex align-items-center">
          <h6>List of occurrences</h6>   
        </div>
        <div class="table-responsive" >
          <table class="table table-hover table-striped" id="userEntryTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <% @user_entry.each do |entry| %>
              <tr>
                <td><%= entry.agent.user.full_name %></td>
                <td><%= entry.occurrence.name %></td>
                <td><%= entry.edate %></td>
                <td><%= entry.edesc.truncate(15) %></td>
                <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), entry, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                      </div>
                      </td>
              </tr>
            <% end %>
          </table>
          <center><%= will_paginate @user_entry %></center>
        </div><br>
      </div>
    </div>
  </div>
</div>      
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card inspectable">
        <div class="card-header d-flex align-items-center">
          <h6>List of Disciplinary Actions</h6>   
        </div>

        <div class="table-responsive">
          <table class="table table-hover table-striped" id="userDapTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <% @user_dap.each do |dap| %>
              <tr>
                <td><%= dap.user.full_name %></td>
                <td><%= dap.writeup.name %></td>
                <td><%= dap.ddate %></td>
                <td><%= dap.description %></td>
                <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), dap, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                      </div>
                      </td>
              </tr>
            <% end %>
          </table>
          
        </div>
        <center><%= will_paginate @user_dap %></center>
      </div>
    </div>
  </div>  
</div>
</body>
