<% @title = "Showing sp_log" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/SpLogs/show.html.erb</code>.</p>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Name</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @sp_log.name %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Phone</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @sp_log.phone %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">State</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @sp_log.state %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Email</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @sp_log.email %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Notes</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @sp_log.notes %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Sp log type</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @sp_log.sp_log_type %>
                  </span>
                </div>
              </div>

                        <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_sp_log_path(@sp_log), class: 'btn btn-primary' %>
                <%= link_to 'Back', sp_logs_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="sidebar" class="col-md-3">
      <ul class="nav nav-stacked nav-caret-left bg-gray-200 card small pb-2">
        <li><h6 class="mt-3 ml-3">Sub Menu</h6></li>
        <li class="nav-item">
        <a class="nav-link" href="#">Vacation Days</a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Salaries</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Disciplinary Items</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Firings</a>
        </li>
      </ul>
    </div>
  </div>
</div>
