<% @title = "Showing incentive_setting" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/IncentiveSettings/show.html.erb</code>.</p>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Occupancy</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @incentive_setting.occupancy %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Uph</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @incentive_setting.uph %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Attendance</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @incentive_setting.attendance %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Quality</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @incentive_setting.quality %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Error</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @incentive_setting.error %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Error amount</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @incentive_setting.error_amount %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Turntime</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @incentive_setting.turntime %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Contracts</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @incentive_setting.contracts %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Department</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @incentive_setting.department %>
                  </span>
                </div>
              </div>

                        <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_incentive_setting_path(@incentive_setting), class: 'btn btn-primary' %>
                <%= link_to 'Back', incentive_settings_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
