<% @title = "Listing Natures of Progressive Actions" %>

<% content_for :description do %>
  <% end %>

  <% content_for :actions do %>
    <%= link_to new_wunature_path, class: 'btn btn-primary btn-large pull-right' do %>
      <%= fa_icon_tag "plus" %> Add PAN
      <% end %>
      <% end %>

      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="card card-sheet sheet-condensed">
              <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                                          <th>Description</th>
                                        <th></th>
                  </tr>
                </thead>
                <tbody>
                <% @wunatures.each do |wunature| %>
                  <tr>
                                          <td><%= wunature.description %></td>
                                        <td class="actions text-right">
                      <div class="btn-group">
                        <%= link_to theme_icon_tag("eye"), wunature, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("pencil-alt"), edit_wunature_path(wunature), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" %>
                        <%= link_to theme_icon_tag("trash"), wunature, 'data-toggle': 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' %>
                      </div>
                      </td>
                    </tr>
                    <% end %>
                    <% if @wunatures.length == 0 %>
                    <tr><td colspan=42 class='text-center'>No wunatures.</td></tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
                </div>

                                  <%# Remove the trailing if condition if you're using pagination. %>
                  <%= will_paginate @wunatures if @wunatures.respond_to?(:total_pages) %>
                
                              </div>
            </div>
          </div>
