<head>
	  <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

</head>
<body>
<%= image_tag 'logo.png' %><br /><br />

<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			<h1><b>New OTL Authorization Request</b></h1>
		</div>
		<div class="card-body">
			<h3><%= @tool.serviceorder %></h3>
			  <span> 
			  		<b>Reviewed By:</b> <%= @tool.username %><br>
			  		<br>
				    <b>Name of s/p and person supplying estimate:</b> <%= @tool.caller_name %> @ <%= @tool.service_provider %><br>
				    <b>Model number:</b> <%= @tool.model_number %><br>
				    <b>Serial number:</b> <%= @tool.serial_number %><br>
				    <b>Cause of Failure:</b> <%= @tool.failure_cause %><br>
				    <b>Manufacturer\'s Warranty Link:</b> <%= @tool.warranty_link %><br>
				    <b>Plan SKU:</b> <%= @tool.sku %><br>
				    <b>*If exception exists for this MFG refer service provider to the manufacturer if within exception period.*</b><br>
				    <b>OPP:</b> <%= @tool.opp %> <b>Previous Paid Claims:</b> <%= @tool.ppc %> <b>Limit of Liability:</b> <%= @tool.lol %><br>
				    <b>Where were part prices verified:</b> <%= @tool.distributor %><br>
				    <br>
				    <b>Total Parts:</b> <%= @tool.total_parts %> <b>Labor:</b> <%= @tool.total_labor %> <b>Tax:</b> <%= @tool.total_tax %><br>
				    <b>Mileage:</b> <%= @tool.total_mileage %> <b>Misc:</b> <%= @tool.total_misc %><br>
				    <b>Deductible (if applicable):</b> <%= @tool.total_deductible %><br>
				    <b>Total Estimate:</b> <%= @tool.total_estimate %><br>
				    ___________________________<br>
				    <b>Estimate:</b> <%= @tool.approved %><br>
				    <b>Attempted Repair or Diagnostic Fee if Pending:</b> <%= @tool.diagnostic %><br>
				    <b>Pre-Approval Code:</b> <br>
				    <br>
				    <b>"As a reminder, all pre-approvals are contingent upon verification of your contracted or agreed upon service rates. Contracted rates supersede preliminary estimates and approvals"</b>
			  </span>
			<small>
				<p class="text-justify"><center>New Leaf Service Contracts, LLC.</center></p>
				<p class="text-justify"><center>909 Lake Carolyn Pkwy, Ste 900</center></p>
				<p class="text-justify"><center>Irving, TX 75039-3919</center></p>
			</small>
		</div>
	</div>
</div>
  <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>