<% @title = "Showing Disciplinary Action" %>

<% content_for :description do %>

  <% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
                          

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Effective Date</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @dap.ddate %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Agent</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @dap.user.full_name %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Type</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @dap.writeup.name %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Nature of Incident</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @dap.wunature.description %>
                  </span>
                </div>
              </div>

                          <div class="form-group row">
                <label class="col-12 col-md-2 form-label">Notes</label>
                <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @dap.description %>
                  </span>
                </div>
              </div>


                        <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_dap_path(@dap), class: 'btn btn-primary' %>

                <%= link_to 'Back', daps_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class="col-3 hidepane">
      <!-- RECENT ACTIVITY TABLE -->
      <div class="card inspectable">
        <!-- component-title: Timeline Card -->
        <div class="card-header">
          <h6>Current Items</h6>
        </div>
        <div class="card-body">
          <div class="timeline" style="height: 450px">
            <ul class="left-timeline">

              <li>
                <% if @what.to_i >= 1 then %>
                <strong>Since Writeup: <span class="text-danger"><%= @what %></span></strong>
                <center><small class ="text-danger">**Agent Writeup Required**</small></center>
                <% else %>
                <strong>Since Writeup: <span><%= @what%></span></strong>
                <% end %> 
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /RECENT ACTIVITY TABLE-->
    </div>
    </div>
  </div>
</div>
