<%= stylesheet_link_tag "pagination.css" %>
<%= render :layout => "layouts/base" do %>
  <nav class="navbar navbar-expand-lg" style="background-color: #4caf50 !important">
    <a href="javascript:" class="navbar-brand mr-auto p-0"><%= image_tag 'service_roots.png', size: "30x35"%> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-3">
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" href="../users/dashboard"> <%= fa_icon_tag("home") %></a>
        </li>
        <% if current_user.admin? && current_user.has_role?(:reporting)  then %>
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" href="../entries/dashboard"> <%= fa_icon_tag("pie-chart") %></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white font-weight-bold" role="button" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"> <%= fa_icon_tag("list") %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../entries">Occurrence Log</a>
        <% elsif current_user.admin? && (current_user.has_role?(:supervisor) || current_user.has_role?(:manager) || current_user.has_role?(:director) || current_user.has_role?(:executive)) %>
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" href="../entries/dashboard"> <%= fa_icon_tag("pie-chart") %></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white font-weight-bold" role="button" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"> <%= fa_icon_tag("list") %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../entries">Occurrence Log</a>    
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../daps">Write-up Log</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../agents">Agents List</a>
          </div>  
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white font-weight-bold" role="button" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">  <%= fa_icon_tag("cogs") %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../departments">Departments</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../occurrences">Occurrences</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../writeups">Disciplinary Actions</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../wunatures">Types of Incidents</a>
          </div>  
        </li>
        <% else %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown user-nav">
          <a class="nav-link text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= fa_icon_tag("user") %>
            <span class="caret caret-light"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li class="dropdown-item text-center">
              <div class="card">
                <div class="card-header">
                  <h4 class="m-auto text-uppercase font-weight-bold"><%= current_user.full_name %></h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <span class="pull-left"><strong>Email:</strong></span>
                    </div>
                    <div class="col-8">
                        <span class="pull-left text-capitalize"><%= user_email %></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <span class="pull-left"><strong>Department:</strong></span> 
                    </div>
                    <div class="col-8">
                      <span class="pull-left"><%= current_user.department.name %></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <span class="pull-left"><strong>Position:</strong></span> 
                    </div>
                    <div class="col-8">
                      <span class="pull-left text-capitalize"><%= current_user.roles.all.map{|f| f.name}.join(" ") %></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <span class="pull-left"><strong>Write-ups:</strong></span> 
                    </div>
                    <div class="col-8">
                      <span class="pull-left"><%= current_user.daps.ids.count %></span>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <div>
                    <%= link_to "Change your password", edit_user_path(current_user.id), :class => 'btn  text-dark' %>
                  </div>
                  <div>
                    <% if user_signed_in? %>
                      <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'btn  text-dark' %>
                    <% else %>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <%= yield %>
<% end %>
