<script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/4.4.0/pusher.min.js"></script>
<script>
    // Enable pusher logging - don't include this in production
    var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
      cluster: '<%= ENV["PUSHER_CLUSTER"] %>',
      forceTLS: true
    });

    var ind_entry_count_channel = pusher.subscribe('entry');
    ind_entry_count_channel.bind('new-entry', function(data) {
      var indEntryCount = $('.entry-count').first().text();
      if (<%= current_user.id %> == data.id) {
          $('.entry-count').html(parseFloat(indEntryCount) + parseFloat(data.ovalue))
      }
    });

    var ind_dap_count_channel = pusher.subscribe('dap');
    ind_dap_count_channel.bind('new-dap', function(data) {
      var indDapCount = $('.dap-count').first().text();
      if (<%= current_user.id %> == data.id) {
          $('.dap-count').html(parseFloat(indDapCount) + 1)
      }
    });
</script>




<%= stylesheet_link_tag "pagination.css" %>
<%= render :layout => "layouts/base" do %>
  <nav class="navbar navbar-expand-lg" style="background-color: #4caf50 !important">
    <a href="javascript:" class="navbar-brand mr-auto p-0"><%= image_tag 'service_roots.png', size: "30x35"%> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-3">
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" href="/"> <%= fa_icon_tag("home") %></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white font-weight-bold" role="button" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">  <%= fa_icon_tag("wrench") %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../tools/validator?template=Peyton.xml">Validator</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../parts">Part Verification</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../tools/pendingreview">Pending Review</a>
          </div>  
        </li>
        <% if current_user.admin? && current_user.has_role?(:reporting) || current_user.has_role?(:lead)  then %>
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" href="../entries/dashboard"> <%= fa_icon_tag("pie-chart") %></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white font-weight-bold" role="button" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"> <%= fa_icon_tag("list") %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../entries">Occurrence Log</a>
        <% elsif current_user.admin? && (current_user.has_role?(:lead) || current_user.has_role?(:supervisor) || current_user.has_role?(:manager) || current_user.has_role?(:director) || current_user.has_role?(:executive)) %>
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" href="../entries/dashboard"> <%= fa_icon_tag("pie-chart") %></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white font-weight-bold" role="button" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"> <%= fa_icon_tag("list") %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../entries">Occurrence Log</a>    
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../daps">Prog Action Log</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../agents">Agents List</a>
          </div>  
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white font-weight-bold" role="button" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">  <%= fa_icon_tag("cogs") %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../departments">Departments</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../occurrences">Occurrences</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../writeups">Prog Actions</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../wunatures">Types of Incidents</a>
            <a class="downdown-item nav-link text-dark font-weight-bold" href="../users">User Management</a>
          </div>  
        </li>
        <% else %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <% if (current_user.department.name === 'Pre-Approvals') || (current_user.department.name === 'Back Office') || (current_user.department.name === 'Executive') then %>
          <% if current_user.admin? %>
          <li class="nav-item font-weight-bold text-white">
            <% if pending_count > 0 %>
              <a href="../parts/dashboard" class="nav-link"><span class="text-danger"><%= fa_icon_tag("hourglass") %></span> <span class="notification font-w"> <%= pending_count %></a>
            <% else %>
              <a href="../parts/dashboard" class="nav-link"><span><%= fa_icon_tag("hourglass") %></span> <span class="notification"> 0</a>
            <% end %>    
          </li>
          <% end %>
          <li class="nav-item font-weight-bold text-white">
            <% if new_parts > 0 %>
              <a href="../parts" class="nav-link"><span class="text-danger"><%= fa_icon_tag("envelope") %></span> <span class="notification"> <%= new_parts %></span></a>
            <% else %>
              <a href="../parts" class="nav-link"><%= fa_icon_tag("envelope") %> <span class="notification"> 0</span></a>
            <% end %>
          </li>
          <% else %>
        <% end %>
        <li class="nav-item dropdown user-nav rounded">
          <a class="nav-link text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= fa_icon_tag("user") %>
            <span class="caret caret-light"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li class="dropdown-item text-center">
              <div class="card">
                <div class="card-header pb-2 m-auto bg-white">
                  <div class="row justify-content-center m-auto">
                    <h3 class="m-auto text-uppercase font-weight-bold m-auto"><%= current_user.full_name %></h3>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="row p-1">
                    <div class="col-5">
                      <span class="pull-left"><strong>Email:</strong></span>
                    </div>
                    <div class="col-7 bg-white rounded">
                        <span class="pull-left"><%= user_email %></span>
                    </div>
                  </div>
                  <div class="row p-1">
                    <div class="col-5">
                      <span class="pull-left"><strong>Department:</strong></span> 
                    </div>
                    <div class="col-7 bg-white rounded">
                      <span class="pull-left"><%= user_department %></span>
                    </div>
                  </div>
                  <div class="row p-1">
                    <div class="col-5">
                      <span class="pull-left"><strong>Position:</strong></span> 
                    </div>
                    <div class="col-7 bg-white rounded">
                      <span class="pull-left text-capitalize"><%= current_user.roles.all.map{|f| f.name}.join(" ") %></span>
                    </div>
                  </div>
                  <div class="row p-1">
                    <div class="col-5">
                      <span class="pull-left"><strong>Prog Actions:</strong></span> 
                    </div>
                    <div class="col-7 bg-white rounded">
                      <span class="pull-left dap-count"><%= current_user.daps.ids.count %></span>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-white">
                  <div>
                    <%= link_to "Change your password", edit_user_path(current_user.id), :class => 'btn  text-dark' %>
                  </div>
                  <div>
                    <% if user_signed_in? %>
                      <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'btn  text-dark' %>
                    <% else %>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <%= yield %>
<% end %>
